
@{
    ViewBag.Title = "MIS100Modules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>MIS100 IRIS Sensor Module | Biometric Solutions | Mantra</title>
    <meta name="keywords" content="IRIS Sensor Module, Biometric iris recognition scanners">
    <meta name="description" content="Check out MIS100 IRIS Sensor Module which is compliance to eye safety standards, USB Storage and inbuilt algorithm. Visit Mantra for biometric solutions!">
    <link rel="canonical" href="https://sensor.mantratec.com/Modules/IRIS-Sensor-MIS100" />
    <meta property="og:title" content="MIS100 IRIS Sensor Module | Biometric Solutions | Mantra" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://sensor.mantratec.com/Modules/IRIS-Sensor-MIS100" />
    <meta property="og:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta property="og:site_name" content="Mantra" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="Check out MIS100 IRIS Sensor Module which is compliance to eye safety standards, USB Storage and inbuilt algorithm. Visit Mantra for biometric solutions!" />
    <meta name="twitter:title" content="MIS100 IRIS Sensor Module | Biometric Solutions | Mantra" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://sensor.mantratec.com/Modules/IRIS-Sensor-MIS100" />
    <meta name="twitter:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta name="twitter:description" content="Check out MIS100 IRIS Sensor Module which is compliance to eye safety standards, USB Storage and inbuilt algorithm. Visit Mantra for biometric solutions!" />
}
@section top_allpages{

    <link href="@Url.Content("~/Assets/css/module/MIS100.css")" rel="stylesheet" />

}

<!-- Begin Slider -->
<section class="product_poster_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Modules/MIS100/MIS100-lg.png")" alt="MIS100 IRIS Sensor" title="MIS100 IRIS Sensor" />
            </div>
            <div class="col-xl-7 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <h1>
                    MIS100
                    <br />IRIS Sensor
                </h1>
                <p>Model : MIS100 V2</p>
                <div class="product_action_box">
                    <a href="@Url.Content("~/Assets/Images/Modules/MIS100/MIS100V2-Module.pdf")" class="action_box" download>
                        <i class="maicon_brochure"></i>
                        <p>Brochure</p>
                    </a>
                    <a href="#specification_section" class="action_box specification_section_click">
                        <i class="maicon_spcification"></i>
                        <p>Specification</p>
                    </a>
                    <a href="@Url.Content("/contact-us")" class="action_box">
                        <i class="maicon_inquiry"></i>
                        <p>Inquiry</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider -->
<!-- Begin Hardware Features -->
<section class="features_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Features</h2>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_dust_water_resistant"></i>
                    <p>Dust & Water Resistant</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_safety_eye"></i>
                    <p>Compliance to EYE Safety Standards</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_higher_platen_area"></i>
                    <p>Device form factor/dimension, slim, premium, look and feel</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_inbuilt_algorithm"></i>
                    <p>Device supports Inbuilt algorithm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_host_configuration"></i>
                    <p>Dynamic FPS based channel host configuration</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_usb_device"></i>
                    <p>Module supports USB support</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_ota_support_updates"></i>
                    <p>OTA support & updates</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hardware Features -->
<!-- Begin Hardware Features -->
<section class="specification_section" id="specification_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Specification</h2>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Sensor Characteristics</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Spatial Resolution</strong>
                    </p>
                    <p>> 50% &#64; 1.0 LP/mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Pixel Resolution</strong>
                    </p>
                    <p>> 10 pixels/mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Margins Left & Right</strong>
                    </p>
                    <p>>=0.6x iris radius</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Top & Bottom</strong>
                    </p>
                    <p>>=0.2x iris radius</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Imaging Wavelength</strong>
                    </p>
                    <p>700-900 nm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Pixel Depth</strong>
                    </p>
                    <p>8 bits/pixel</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Output Image</strong>
                    </p>
                    <p>KIND1 to KIND7 with JPEG2000 Compression</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Capture Mode</strong>
                    </p>
                    <p>Auto Capture with Built-in Quality Check</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Capture Time</strong>
                    </p>
                    <p>< 2 sec</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Safety</strong>
                    </p>
                    <p>Exempt Group per IEC 62471:2006-07</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Health-Safety</strong>
                    </p>
                    <p>RoHS Compliant</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>ESD</strong>
                    </p>
                    <p>Air Discharge+-8 KV, Contact Type +-4Kv</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Radiated Emission</strong>
                    </p>
                    <p>FCC part15B/IEC:CISPR 22 Class B Standard</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Radiated Immunity</strong>
                    </p>
                    <p>As per IEC/EN 61000-4 3:2006+A2:2010</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Connectivity</strong>
                    </p>
                    <p>USB 2.0 / USB 1.1</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating System Supports</strong>
                    </p>
                    <p>Windows XP, Win7, Win2008, Android, Linux, Embedded Linux</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hardware Features -->
<!-- Begin Product Images -->
<section class="get_in_touch_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <h6>GET IN TOUCH</h6>
                <h2>Let’s talk! We have a perfect biometric solution for your industry.</h2>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <a href="@Url.Content("/contact-us")" class="getin_contact_us_btn">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->

@section bottom_allpages{

}
