
@{
    ViewBag.Title = "MIS100";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>IRIS MIS100 Scanner | Biometric Authentication | Mantra</title>
    <meta name="keywords" content="Accurate Biometric Identification, biometric identification device">
    <meta name="description" content="Check out IRIS MIS100 scanner which offers a highly secure and accurate biometric identification solution for various applications. Contact Mantra today!">
    <link rel="canonical" href="https://sensor.mantratec.com/Authentication-Scanner/IRIS-Scanners-MIS100" />
    <meta property="og:title" content="IRIS MIS100 Scanner | Biometric Authentication | Mantra" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://sensor.mantratec.com/Authentication-Scanner/IRIS-Scanners-MIS100" />
    <meta property="og:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta property="og:site_name" content="Mantra" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="Check out IRIS MIS100 scanner which offers a highly secure and accurate biometric identification solution for various applications. Contact Mantra today!" />
    <meta name="twitter:title" content="IRIS MIS100 Scanner | Biometric Authentication | Mantra" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://sensor.mantratec.com/Authentication-Scanner/IRIS-Scanners-MIS100" />
    <meta name="twitter:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta name="twitter:description" content="Check out IRIS MIS100 scanner which offers a highly secure and accurate biometric identification solution for various applications. Contact Mantra today!" />
}
@section top_allpages{

    <link href="@Url.Content("~/Assets/css/product/MIS100.css")" rel="stylesheet" />

}
<!-- Begin Slider -->
<section class="product_poster_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MIS100/MIS100-lg.png")" alt="Mantra IRIS MIS100" title="Mantra IRIS MIS100" />
            </div>
            <div class="col-xl-7 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <h1>Mantra IRIS MIS100</h1>
                <p>Experience Unparalleled biometric Authentication Security and Efficiency</p>
                <div class="product_action_box">
                    <a href="@Url.Content("~/Assets/Images/Products/MIS100/MIS100V2.pdf")" class="action_box" download>
                        <i class="maicon_brochure"></i>
                        <p>Brochure</p>
                    </a>
                    <a href="#specification_section" class="action_box specification_section_click">
                        <i class="maicon_spcification"></i>
                        <p>Specification</p>
                    </a>
                    <a href="@Url.Content("/contact-us")" class="action_box">
                        <i class="maicon_inquiry"></i>
                        <p>Inquiry</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider -->
<!-- Begin Product Images -->
<section class="product_images_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MIS100/pro1.png")" alt="Mantra IRIS MIS100 Scanner" title="Mantra IRIS MIS100 Scanner" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MIS100/pro2.png")" alt=" IRIS MIS100 Scanner" title=" IRIS MIS100 Scanner" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MIS100/pro3.png")" alt="IRIS Scanner" title="IRIS Scanner" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MIS100/pro4.png")" alt="Mantra IRIS Scanner" title="Mantra IRIS Scanner" />
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<!-- Begin Product Images -->
<section class="application_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Application</h2>
                <hr />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_banking_and_atm"></i>
                    <p>Banking & Finance</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_enterprise"></i>
                    <p>Enterprise</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_health_insurance_card"></i>
                    <p>Healthcare</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_telecom"></i>
                    <p>Telecom</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_automatic_border_control"></i>
                    <p>Border Control</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_government_applications"></i>
                    <p>Government Applications</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_e_commerce"></i>
                    <p>E-commerce</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_national_id_card"></i>
                    <p>ID verification</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<!-- Begin Morphs Compact Slap -->
<section class="dual_iris_scanner_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2>Cutting-Edge Iris Recognition Technology</h2>
                <h3>The Mantra IRIS MIS100 harnesses the power of advanced iris recognition technology to deliver highly accurate and secure biometric identification.</h3>
                <div class="box_contain_part">
                    <p>Experience the unmatched identity authentication security and efficiency from Mantra IRIS MIS100 and empower your Idenity project or aplication with advanced biometric recognition technology. Ensure seamless integration, reliability, and unparalleled performance for a wide range of identification and verification applications.</p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MIS100/requests-for-leaves.png")" alt="Mantra IRIS MIS100 Authentication Scanner" title="Mantra IRIS MIS100 Authentication Scanner" />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <p>
                    <strong>High-Resolution Iris Scanner:-</strong>
                    <br />Equipped with a high-resolution iris scanner, the MIS100 captures intricate iris patterns with exceptional precision, ensuring reliable and fast authentication.
                </p>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <p>
                    <strong>Ergonomic Design:-</strong>
                    <br />The device boasts an ergonomic design, featuring a comfortable placement for users to position their eyes conveniently during the iris scanning process.
                </p>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <p>
                    <strong>Robust Build Quality:-</strong>
                    <br />Crafted with durability in mind, the MIS100 is built to withstand heavy usage in various environments, making it suitable for a wide range of applications.
                </p>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <p>
                    <strong>Versatile Connectivity:-</strong>
                    <br />The device offers versatile connectivity options, including USB and Ethernet, enabling seamless integration with different systems and networks.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End Morphs Compact Slap -->
<!-- Begin Hardware Features -->
<section class="features_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Hardware Features</h2>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_safety_eye"></i>
                    <p>Compliance to EYE Safety Standards</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_ambient_lighting"></i>
                    <p>Unaffected by Ambient Lighting</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_dust_water_resistant"></i>
                    <p>Dust & Water Resistant</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_iso_image"></i>
                    <p>Compliant with ANSI NIST ISO Image Interchange Format</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_usb_device"></i>
                    <p>USB Powered Device</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hardware Features -->
<!-- Begin Product Video -->
<section class="product_video_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MIS100/video-product.png")" alt="MIS100 video product" title="MIS100 video product" />
            </div>
        </div>
    </div>
</section>
<!-- End Product Video -->
<!-- Begin Product Hardware -->
<section class="high_performance_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12 text-center">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MIS100/high-performance.png")" alt="Mantra IRIS MIS100" title="Mantra IRIS MIS100" />
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <h2>PERFORMANCE YOU CAN RELY</h2>
                <h3>Powered by state-of-the-art technology, the Mantra IRIS MIS100 delivers exceptional performance in biometric identification.</h3>
                <div class="box_contain_part">
                    <p>With its lightning-fast iris recognition algorithm, the device ensures quick and accurate authentication, reducing waiting times and enhancing operational efficiency. Experience the peace of mind that comes with a reliable and secure biometric solution.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Hardware -->
<!-- Begin System Requirements -->
<section class="system_requirements_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <h2>System Requirements</h2>
                <h3>To unleash the full potential of the Mantra IRIS MIS100, ensure your system meets the following requirements</h3>
                <div class="box_contain_part">
                    <p>MIS100 is a unique & IRIS capturing device used to capture IRIS. The device is ideal for delivering fast, accurate and reliable IRIS capture results for biometric verification, identification and enrollment applications</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <p class="list_point">
                            <strong>Processor:</strong>
                            <br />
                            <span>Intel Core i5 or equivalent</span>
                        </p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <p class="list_point">
                            <strong>RAM:</strong>
                            <br />
                            <span>4GB or higher</span>
                        </p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <p class="list_point">
                            <strong>Storage:</strong>
                            <br />
                            <span>100MB free space</span>
                        </p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <p class="list_point">
                            <strong>Operating System:</strong>
                            <br />
                            <span>Windows 10 or higher</span>
                        </p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <p class="list_point">
                            <strong>USB Port:</strong>
                            <br />
                            <span>USB 2.0 or higher</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="system_requirements_img"></div>
            </div>
        </div>
    </div>
</section>
<!-- End System Requirements -->
<!-- Begin Product Certification -->
<section class="product_certification_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12 text-center">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MIS100/Certification.jpg")" alt="Certification" title="Certification" />
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <h2>Certification</h2>
                <h3>The Mantra IRIS MIS100 is a certified biometric recognition device, adhering to industry standards and regulations.</h3>
                <div class="box_contain_part">
                    <p>It has undergone rigorous testing and received certifications to ensure the highest level of security and accuracy. Rest assured that your biometric data is protected with the utmost care and attention.</p>
                </div>
                <div class="certification_list">
                    <div class="certification_box">
                        <i class="maicon_ce"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_rohs"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_fcc"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_iec"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_is"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_ip54"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_usb_device"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_mosip_logo"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Certification -->
<!-- Begin Product sdk_usp -->
<section class="acquisition_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>High-Quality IRIS Acquisition</h2>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="acquisition_box">
                            <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MIS100/Acquisition-img1.jpg")" alt="Acquisition Image 1" title="Acquisition Image 1" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="acquisition_box">
                            <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MIS100/Acquisition-img2.jpg")" alt="Acquisition Image 2" title="Acquisition Image 2" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="acquisition_box">
                            <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MIS100/Acquisition-img3.jpg")" alt="Acquisition Image 3" title="Acquisition Image 3" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="acquisition_heand_box"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Product sdk_usp -->
<!-- Begin Product to Use & to Set-Up -->
<section class="easy_use_to_set_up_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <h2>Software Packages</h2>
                <h3 class="mb-0">1:1 Matching: MORFIN_AUTH SDK Our Mantra IRIS MIS100 is bundled with the powerful MORFIN_AUTH SDK, offering a comprehensive solution for 1:1 iris matching.</h3>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="box_contain_part mt-2 mb-2">
                    <p>This software package provides developers with a robust toolkit to integrate iris recognition capabilities into their applications seamlessly. With MORFIN_AUTH SDK, you can unlock the full potential of the MIS100 device, enabling accurate and secure identification for a wide range of applications.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product to Use & to Set-Up -->
<!-- Begin Product Images -->
<section class="supported_operating_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <h2>Supported Operating Systems</h2>
                <h3 class="mb-0">The Mantra IRIS MIS100 is compatible with the following operating systems:</h3>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <div class="operating_systems_list mt-2 mb-2">
                    <div class="operating_systems_box">
                        <i class="maicon_windows_operating_systems"></i>
                        <p>Windows 7/8/8.1/10</p>
                    </div>
                    <div class="operating_systems_box">
                        <i class="maicon_linux_operating_systems"></i>
                        <p>Linux(Ubuntu, Fedora, CentOS)</p>
                    </div>
                    <div class="operating_systems_box">
                        <i class="maicon_android_operating_system"></i>
                        <p>Android (API Level 21 and above)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<!-- Begin Hardware Features -->
<section class="specification_section" id="specification_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>SPECIFICATION</h2>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Sensor Characteristics</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Spatial Resolution</strong>
                    </p>
                    <p>> 50% &#64; 1.0 LP/mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Pixel Resolution</strong>
                    </p>
                    <p>> 10 pixels/mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Margins Left & Right</strong>
                    </p>
                    <p>>=0.6x iris radius</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Top & Bottom</strong>
                    </p>
                    <p>>=0.2x iris radius</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Imaging Wavelength</strong>
                    </p>
                    <p>700-900 nm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Pixel Depth</strong>
                    </p>
                    <p>8 bits/pixel</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Output Image</strong>
                    </p>
                    <p>KIND1 to KIND7 with JPEG2000 Compression</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Capture Mode</strong>
                    </p>
                    <p>Auto Capture with Built-in Quality Check</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Capture Time</strong>
                    </p>
                    <p>< 2 sec </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Safety</strong>
                    </p>
                    <p>Exempt Group per IEC 62471:2006-07</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Health-Safety</strong>
                    </p>
                    <p>RoHS Compliant</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>ESD</strong>
                    </p>
                    <p>Air Discharge+-8 KV, Contact Type +-4Kv</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Radiated Emission</strong>
                    </p>
                    <p>FCC part15B/IEC:CISPR 22 Class B Standard</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Radiated Immunity</strong>
                    </p>
                    <p>As per IEC/EN 61000-4 3:2006+A2:2010</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Connectivity</strong>
                    </p>
                    <p>USB 2.0 / USB 1.1</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating System Supports</strong>
                    </p>
                    <p>Windows XP, Win7, Win2008, Android, Linux, Embedded Linux</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hardware Features -->
<!-- Begin Product Images -->
<section class="get_in_touch_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <h6>GET IN TOUCH</h6>
                <h2>Let’s talk! We have a perfect biometric solution for your industry.</h2>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <a href="@Url.Content("/contact-us")" class="getin_contact_us_btn">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
@section bottom_allpages{

}
