
@{
    ViewBag.Title = "MELO31";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>High-Quality MELO31 Optical Fingerprint Scanner | Mantra</title>
    <meta name="keywords" content="fap30 fingerprint, FBI-certified fingerprint scanners, fap fingerprint scanner">
    <meta name="description" content="Mantra offers the MELO31 optical fingerprint scanner for highly secure identification and verification applications. Visit us for an authentication scanner!">
    <link rel="canonical" href="https://sensor.mantratec.com/Authentication-Scanner/Fingerprint-Scanner-MELO31" />
    <meta property="og:title" content="High-Quality MELO31 Optical Fingerprint Scanner | Mantra" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://sensor.mantratec.com/Authentication-Scanner/Fingerprint-Scanner-MELO31" />
    <meta property="og:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta property="og:site_name" content="Mantra" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="Mantra offers the MELO31 optical fingerprint scanner for highly secure identification and verification applications. Visit us for an authentication scanner!" />
    <meta name="twitter:title" content="High-Quality MELO31 Optical Fingerprint Scanner | Mantra" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://sensor.mantratec.com/Authentication-Scanner/Fingerprint-Scanner-MELO31" />
    <meta name="twitter:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta name="twitter:description" content="Mantra offers the MELO31 optical fingerprint scanner for highly secure identification and verification applications. Visit us for an authentication scanner!" />
}

@section top_allpages{

    <link href="@Url.Content("~/Assets/css/product/MELO31.css")" rel="stylesheet" />

}

<!-- Begin Slider -->
<section class="product_poster_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MELO31/MELO31-lg.png")" alt="MELO31 Optical Fingerprint Scanner" title="MELO31 Optical Fingerprint Scanner" />
            </div>
            <div class="col-xl-7 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <h1>
                    <span>MELO31</span>
                    <sup class="fs-6">TM</sup>
                </h1>
                <p>Optical Fingerprint FAP30 Devices for Highly Secure Identification and Verification Applications</p>
                <div class="product_action_box">
                    <a href="@Url.Content("~/Assets/Images/Products/MELO31/MELO31.pdf")" class="action_box" download>
                        <i class="maicon_brochure"></i>
                        <p>Brochure</p>
                    </a>
                    <a href="#specification_section" class="action_box specification_section_click">
                        <i class="maicon_spcification"></i>
                        <p>Specification</p>
                    </a>
                    <a href="@Url.Content("/contact-us")" class="action_box">
                        <i class="maicon_inquiry"></i>
                        <p>Inquiry</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider -->
<!-- Begin Product Images -->
<section class="product_images_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MELO31/pro1.png")" alt="Mantra MELO31 Scanner" title="Mantra MELO31 Scanner" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MELO31/pro2.png")" alt="MELO31 Fingerprint scanner" title="MELO31 Fingerprint scanner" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MELO31/pro3.png")" alt="MELO31 Scanner" title="MELO31 Scanner" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MELO31/pro4.png")" alt="Mantra MELO31 Optical Scanner" title="Mantra MELO31 Optical Scanner" />
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<!-- Begin Product Images -->
<section class="application_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>APPLICATION</h2>
                <hr />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_banking_and_atm"></i>
                    <p>eKYC for Bank account</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_enterprise"></i>
                    <p>Bio login Enterprise Application</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_health_insurance_card"></i>
                    <p>Patient identification</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_telecom"></i>
                    <p>eKYC for SIM Registration </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_automatic_border_control"></i>
                    <p>Immgration Border Access Control</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_government_applications"></i>
                    <p>Student scholarship availment</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_e_commerce"></i>
                    <p>Social Welfare & Development</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_national_id_card"></i>
                    <p>ID verification</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Product Images -->
<!-- Begin Morphs Compact Slap -->
<section class="optical_finger_scanner_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2>
                    MELO31
                    <br />OPTICAL FINGERPRINT SCANNER
                </h2>
                <div class="box_contain_part">
                    <p>MELO31 is an optical FAP30capture area fingerprint scanner that is both adaptable and field-proven. It has a big platen area (20.32mm x 25.40mm) for capturing biometric data with accuracy, speed, and ease. It is appropriate for a wide range of applications that require maximum security and precision, thanks to enhanced features such as latent detection, lower false acceptance rate (FAR), and false recognition rate (FRR), and MINEX compliance embedded extractor support. MELO31 serves a wide range of sectors by providing seamless identification, verification, and authentication thanks to its durable and scratch-free sensor.</p>
                </div>
                <div class="dual_iris_scanner_list">
                    <div class="dual_iris_scanner_box">
                        <h4>500 DPI +/- 2%</h4>
                        <p>Pixel Resolution</p>
                    </div>
                    <div class="dual_iris_scanner_box">
                        <h4>20.32mm x 25.40mm</h4>
                        <p>Platen Size</p>
                    </div>
                    <div class="dual_iris_scanner_box">
                        <h4>400 x 500 Pixels</h4>
                        <p>Image Size</p>
                    </div>
                    <div class="dual_iris_scanner_box">
                        <h4>
                            <2 sec
                        </h4>
                        <p>Capturing Speed</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MELO31/Optical-Fingerprint-Scanner.png")" alt="Mantra MELO31 Optical Fingerprint Scanner" title="Mantra MELO31 Optical Fingerprint Scanner" />
            </div>
        </div>
    </div>
</section>
<!-- End Morphs Compact Slap -->
<!-- Begin Hardware Features -->
<section class="features_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Features</h2>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_dust_water_resistant"></i>
                    <p>IP65 Protection</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_lowest_far_frr"></i>
                    <p>Lowest FAR & FRR</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_latent_fingerprint"></i>
                    <p>Latent fingerprint detection</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_higher_platen_area"></i>
                    <p>Device form factor/dimension, slim, premium, look and feel</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_inbuilt_algorithm"></i>
                    <p>Device supports Inbuilt algorithm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_host_configuration"></i>
                    <p>Dynamic FPS based channel host configuration</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_usb_device"></i>
                    <p>Module supports USB support</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_ota_support_updates"></i>
                    <p>OTA support & updates</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hardware Features -->
<!-- Begin Product Video -->
<section class="product_video_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MELO31/video-product.png")" alt="MELO31 video product" title="MELO31 video product" />
            </div>
        </div>
    </div>
</section>
<!-- End Product Video -->
<!-- Begin Product Hardware -->
<section class="high_performance_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12 text-center">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MELO31/high-performance.png")" alt="High Performance" title="High Performance" />
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <h2>HIGH-PERFORMANCE FINGERPRINT SCANNER</h2>
                <div class="box_contain_part">
                    <p>It uses cutting edge fingerprint recognition technology to accurately and quickly authenticate a person's identity. MELO31 is a FAP30 fingerprint sensor, a rugged secure fingerprint device designed for large-scale identification and verification projects in wet environments. It is easy to use and can be integrated into a variety of systems using our sdks.</p>
                </div>
                <div class="product_hardware_list">
                    <div class="product_hardware_box">
                        <h4>5V +/- 5%</h4>
                        <p>Operating Voltage</p>
                    </div>
                    <div class="product_hardware_box">
                        <h4>89.0 x 64.0 x 25.60 mm</h4>
                        <p>Dimension</p>
                    </div>
                    <div class="product_hardware_box">
                        <h4>150g</h4>
                        <p>Weight</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Hardware -->
<!-- Begin System Requirements -->
<section class="system_requirements_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <h2>Hardware system requirements</h2>
                <div class="box_contain_part">
                    <p>This fingerprint sensor features a scratch-free optical sensor with a pixel resolution of 500 DPI +/- 2%, and a platen size of 20.32mm x 25.40mm. The image size is 400 x 500 with a grayscale of 256 (8-Bit Gray Level), and has a low FRR & FAR of < 0.1% & < 0.001%. The maximum acquisition time for placing a template is < 2 seconds, and it includes auto finger detection functionality and auto capture with built-in quality check, incorporating NIST quality considerations. The sensor supports 360-degree fingerprint rotation and has latent finger detection, with a light source using RED LED technology.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="system_requirements_list">
                            <h3>Programming Language Support</h3>
                            <div class="system_requirements_box">
                                <i class="maicon_c"></i>
                                <p>C/C++</p>
                            </div>
                            <div class="system_requirements_box">
                                <i class="maicon_dot_net"></i>
                                <p>Dot Net </p>
                            </div>
                            <div class="system_requirements_box">
                                <i class="maicon_java"></i>
                                <p>Java</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="system_requirements_list">
                            <h3>Standard Software</h3>
                            <div class="system_requirements_box">
                                <i class="maicon_morfin_sdk"></i>
                                <p>SDK: Morfin_Authentication</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="system_requirements_img"> </div>
            </div>
        </div>
    </div>
</section>
<!-- End System Requirements -->
<!-- Begin Product Certification -->
<section class="product_certification_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12 text-center">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MELO31/Certification.jpg")" alt="Certification" title="Certification" />
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <h2>Certification</h2>
                <div class="box_contain_part">
                    <p>This device is designed to comply with various standards and regulations, including ISO standards for Biometric Data Interchange, EMI/EMC regulations such as CE & FCC Part 15B class A, ESD protection standards, and environmental and safety standards such as RoHS, WEEE, EN/IEC 62368-1, and IS 13252 (Part 1). It also has an FBI PIV certification for image quality, an IP65 rating for protection against dust and water, and a WHQL Certified WBF driver for ease of use.</p>
                </div>
                <div class="certification_list">
                    <div class="certification_box">
                        <i class="maicon_fap30"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_ce"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_rohs"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_fcc"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_iec"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_whql"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_is"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_ip65"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Certification -->
<!-- Begin Product sdk_usp -->
<section class="acquisition_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>High-Quality Fingerprint Acquisition</h2>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="acquisition_box">
                            <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MELO31/Acquisition-img1.png")" alt="Acquisition Image 1" title="Acquisition Image 1" />
                            <p>Richest area</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="acquisition_box">
                            <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MELO31/Acquisition-img2.png")" alt="Acquisition Image 2" title="Acquisition Image 2" />
                            <p>MELO31 Capture</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="acquisition_box">
                            <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MELO31/Acquisition-img3.png")" alt="Acquisition Image 3" title="Acquisition Image 3" />
                            <p>Placement Variations on smaller sensors</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="acquisition_heand_box"> </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product sdk_usp -->
<!-- Begin Product to Use & to Set-Up -->
<section class="easy_use_to_set_up_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <h2>Software Packages</h2>
                <div class="box_contain_part">
                    <p>MELO31 can be connected to a computer with only one USB connection, which allows power supply and high speed data transfer.The scanner can be easily integrated with applications of authentication for identity management projects.</p>
                    <h3>Software Development Kit (SDK) options are available:</h3>
                    <p class="list_point">1:N Matching: MORFIN_SEARCH</p>
                    <p class="list_point">1:1 Matching: MORFIN_AUTH</p>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MELO31/Easy-to-Use.jpg")" alt="Easy to Use" title="Easy to Use" />
            </div>
        </div>
    </div>
</section>
<!-- End Product to Use & to Set-Up -->
<!-- Begin Product Images -->
<section class="supported_operating_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <h2>Supported Operating Systems</h2>
                <div class="box_contain_part">
                    <p>Melo 31 is a unique and portable FAP30 fingerprint capture device used to capture large fingerprints. The device is ideal for delivering fast, accurate, and consistent identification of individual.</p>
                    <p>
                        <strong>Image Formats:- </strong>RAW, BMP, JPEG2000, WSQ
                    </p>
                    <p class="list_point">ISO 19794-4:2011 with Uncompressed</p>
                    <p class="list_point">ISO 19794-4:2011 with WSQ compressed</p>
                    <p class="list_point">ISO 19794-4:2011 with JPEG2000 compressed</p>
                </div>
            </div>
            <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <div class="operating_systems_list">
                    <div class="operating_systems_box">
                        <i class="maicon_windows_operating_systems"></i>
                        <p>Windows 7/8/10</p>
                    </div>
                    <div class="operating_systems_box">
                        <i class="maicon_android_operating_system"></i>
                        <p>Android</p>
                    </div>
                    <div class="operating_systems_box">
                        <i class="maicon_linux_operating_systems"></i>
                        <p>Linux</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<!-- Begin Hardware Features -->
<section class="specification_section" id="specification_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>SPECIFICATION</h2>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Sensor Characteristics</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Fingerprint Sensor Type</strong>
                    </p>
                    <p>Scratch Free Optical Sensor</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Pixel Resolution</strong>
                    </p>
                    <p>500 DPI +/- 2%</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Platen size</strong>
                    </p>
                    <p>20.32mm x 25.40mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Size </strong>
                    </p>
                    <p>400 x 500</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Grayscale</strong>
                    </p>
                    <p>256 (8 - Bit Gray Level) </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>FRR & FAR</strong>
                    </p>
                    <p>< 0.1% & < 0.001%</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong> Maximum Acquisition time <br />( Placement to Template ) </strong>
                    </p>
                    <p>< 2 Sec</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Latent Finger Detection</strong>
                    </p>
                    <p>Yes</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Light Source</strong>
                    </p>
                    <p>RED LED</p>
                </div>
            </div>
            <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Capture mode</strong>
                    </p>
                    <p>Auto Finger detection functionality & Auto capture with built-in quality check (incorporates NIST quality considerations) & Support 360 Degree Fingerprint Rotation</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Interface</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Protocol</strong>
                    </p>
                    <p>USB 2.0</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Electrical Characteristics</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating Voltage</strong>
                    </p>
                    <p>5V ±5% (USB Powered Device)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating Current</strong>
                    </p>
                    <p>Operating Current: ~190 mA & Standby Current : ~90 mA</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Environmental Characteristics</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating Temperature</strong>
                    </p>
                    <p>0°C to +50°C</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Storage Temperature</strong>
                    </p>
                    <p>-10°C to +70°C</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Humidity (Operating / Storage)</strong>
                    </p>
                    <p>< 90% RH, Non-condensing</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Compliant to Following Standard</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Biometric Data Interchange Format</strong>
                    </p>
                    <p>ISO 19794-2 : 2005 & 2011, ISO 19794-4 : 2005 & 2011, ANSI 378, WSQ3.1, JPEG2000</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>EMI / EMC Compliance</strong>
                    </p>
                    <p>CE & FCC Part 15B class A</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>ESD protection</strong>
                    </p>
                    <p>Contact Discharge: +/- 8kV, Air Discharge: +/- 15kV</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Environmental, Health and Safety</strong>
                    </p>
                    <p>RoHS, WEEE</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Safety</strong>
                    </p>
                    <p>EN/IEC 62368-1, IS 13252 (Part 1)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Quality</strong>
                    </p>
                    <p>FBI PIV Certification</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>IP Rating</strong>
                    </p>
                    <p>IP65</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Device Driver</strong>
                    </p>
                    <p>WHQL Certified WBF driver</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hardware Features -->
<!-- Begin Product Images -->
<section class="get_in_touch_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <h6>GET IN TOUCH</h6>
                <h2>Let’s talk! We have a perfect biometric solution for your industry.</h2>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <a href="@Url.Content("/contact-us")" class="getin_contact_us_btn">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->

@section bottom_allpages{

}
