
@{
    ViewBag.Title = "MFS110";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Fingerprint reader Mantra MFS110 Secure and durable</title>
    <meta name="keywords" content="Fingerprint reader, fingerprint sensor, USB Fingerprint Reader">
    <meta name="description" content="Fingerprint reader Mantra MFS110 is FBI PIV compliant optical fingerprint scanner with a high-speed USB 2.0 interface with secured communication.">
    <link rel="canonical" href="https://www.mantratec.com/products/Fingerprint-Sensors/L1-Fingerprint-Scanner-MFS110" />

    <meta property="og:title" content="Fingerprint reader Mantra MFS110 Secure and durable" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.mantratec.com/products/Fingerprint-Sensors/L1-Fingerprint-Scanner-MFS110" />
    <meta property="og:image" content="https://www.mantratec.com/Assets/Images/Pages/Products/MFS110/pro1.png" />
    <meta property="og:site_name" content="Mantra Softech India Pvt Ltd" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="Fingerprint reader Mantra MFS110 is FBI PIV compliant optical fingerprint scanner with a high-speed USB 2.0 interface with secured communication." />


    <meta name="twitter:title" content="Fingerprint reader Mantra MFS110 Secure and durable" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://www.mantratec.com/products/Fingerprint-Sensors/L1-Fingerprint-Scanner-MFS110" />
    <meta name="twitter:image" content="https://www.mantratec.com/Assets/Images/Pages/Products/MFS110/pro1.png" />
    <meta name="twitter:description" content="Fingerprint reader Mantra MFS110 is FBI PIV compliant optical fingerprint scanner with a high-speed USB 2.0 interface with secured communication." />

}

@section top_allpages{

    <link href="@Url.Content("~/Assets/CSS/product/MFS110.css")" rel="stylesheet" />

}

<!-- Begin Slider -->
<section class="product_poster_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS110/MFS110.png")" alt="MFS110 Fingerprint Reader" title="MFS110 Fingerprint Reader" />
            </div>
            <div class="col-xl-7 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <h1>L1 Fingerprint Scanner Mantra MFS110</h1>
                <p>Mantra MFS110 is an L1 Fingerprint Scanner that is built on an optical fingerprint sensor for error-free scanning with high security and durability.</p>
                <div class="product_action_box">
                    <a href="@Url.Content("~/Assets/Images/Products/MFS110/MFS110.pdf")" class="action_box" download>
                        <i class="maicon_brochure"></i>
                        <p>Brochure</p>
                    </a>
                    <a href="#specification_section" class="action_box specification_section_click">
                        <i class="maicon_spcification"></i>
                        <p>Specification</p>
                    </a>
                    <a href="@Url.Content("/contact-us")" class="action_box">
                        <i class="maicon_inquiry"></i>
                        <p>Inquiry</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider -->
<!-- Begin Product Images -->
<section class="product_images_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS110/pro1.png")" alt="" title="" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS110/pro2.png")" alt="" title="" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS110/pro3.png")" alt="" title="" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS110/pro4.png")" alt="" title="" />
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<!-- Begin Product Images -->
<section class="features_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
                <div class="section_title">
                    <h2>Our <strong>Features</strong></h2>
                    <p>Tailored for Aadhaar authentication, the L1 Secure Fingerprint Scanner ensures unparalleled accuracy and security.</p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="features_box">
                    <i class="maicon_scratch_free"></i>
                    <p>Scratch free Sensor Surface</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="features_box">
                    <i class="maicon_usb_device"></i>
                    <p>High speed USB 2.0 interface with secured communication</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="features_box">
                    <i class="maicon_minex_compliance"></i>
                    <p>MINEX Compliance Extractor</p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="features_box">
                    <i class="maicon_auto_finger_detection"></i>
                    <p>Auto Finger Detection</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="features_box">
                    <i class="maicon_lowest_far_frr"></i>
                    <p>Lower FAR and FRR</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="features_box">
                    <i class="maicon_DPI_optical_fingerprint"></i>
                    <p>500 DPI optical fingerprint sensor</p>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="features_box">
                    <i class="maicon_windows_operating_systems"></i>
                    <p>Supports Windows Operating Systems</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="features_box">
                    <i class="maicon_android_operating_system"></i>
                    <p>Supports Android Operating Systems</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="features_box">
                        <i class="maicon_linux_operating_systems"></i>
                        <p>Supports Linux Operating Systems</p>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<section class="specification_section" id="specification_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
                <div class="section_title">
                    <h2>Our <strong>Specifications</strong></h2>
                    <p>Detailed specifications emphasizing its precision, speed, and Aadhaar compatibility.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Sensor Characteristics</h3>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Fingerprint Sensor Type :</strong></p>
                    <p>Optical Sensor</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Spatial Resolution :</strong></p>
                    <p>500 DPI +/- 2%</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Platen Area :</strong></p>
                    <p>14.0 mm x 17.0 mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Image size :</strong></p>
                    <p>276 x 336 Pixels</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Image Grayscale :</strong></p>
                    <p>256 (8 - Bit Gray Level)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Light Source :</strong></p>
                    <p>Red LED</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Maximum Acquisition time (Placement to Template) :</strong></p>
                    <p>< 2 Sec</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Approx. Dimension (L x W x H) :</strong></p>
                    <p>61(L) x 91(W) x 54(H) mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Approx. Weight :</strong></p>
                    <p>0.140 kg</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Capture mode :</strong></p>
                    <p>Auto capture with built-in quality check(incorporates NIST quality considerations)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Security</h3>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Crypto operation :</strong></p>
                    <p>Hardware base RSA2048 Key Generation, AES-GCM-256, SHA-256, TRNG support</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Secure Memory :</strong></p>
                    <p>TEE support by the device. Secure memory support key wraping feature</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Secure Boot :</strong></p>
                    <p>Secure boot support by the device</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Electrical</h3>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Operating Voltage :</strong></p>
                    <p>5V +/- 5% (USB Powered Device)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Operating Current :</strong></p>
                    <p>< 90 ma</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Stand by Current :</strong></p>
                    <p>50 mA</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Interface :</strong></p>
                    <p>USB 2.0</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Environmental</h3>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Operating Temperature :</strong></p>
                    <p>0 to 50<sup>°</sup>C</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Storage Temperature :</strong></p>
                    <p>0 to 50<sup>°</sup>C</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Humidity (Operating / Storage) :</strong></p>
                    <p>< 90% RH, Non-condensing</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Compliant to Following Standard</h3>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Biometric Data Interchange Format :</strong></p>
                    <p>ISO 19794-2 for minutiae & ISO 19794-4 for Image Template in Encrypted PID Data Block</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Environmental, Health and Safety :</strong></p>
                    <p>RoHS</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Safety :</strong></p>
                    <p>EN/IEC 62368-1, IS 13252 (Part 1)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>EMI / EMC Compliance :</strong></p>
                    <p>CE, FCC Part 15B</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Image Quality Complaince :</strong></p>
                    <p>FBI PIV<sup>*</sup>, STQC<sup>*</sup></p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>IP Rating :</strong></p>
                    <p>IP54</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Device Driver :</strong></p>
                    <p>WHQL certified</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Operating System :</strong></p>
                    <p>Windows x86 & x64, Android</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="position_of_finger_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section_title">
                    <h2>Our <strong>Position of Finger</strong></h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <hr />
                        <div class="position_of_finger_box">
                            <h3>Finger Height:-</h3>
                            <p>Align center of 1st phalanx with sensor center.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS110/finger-height1.png")" alt="Alternate Text" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS110/finger-height2.png")" alt="Alternate Text" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS110/finger-height3.png")" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <hr />
                        <div class="position_of_finger_box">
                            <h3>Finger Angle:-</h3>
                            <p>The finger must be parallel to sensor sides.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS110/finger-angle1.png")" alt="Alternate Text" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS110/finger-angle2.png")" alt="Alternate Text" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS110/finger-angle3.png")" alt="Alternate Text" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <hr />
                        <div class="position_of_finger_box">
                            <h3>Finger Inclination:-</h3>
                            <p>Finger must be parallel to the sensor surface.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS110/finger-inclination1.png")" alt="Alternate Text" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS110/finger-inclination2.png")" alt="Alternate Text" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS110/finger-inclination3.png")" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <hr />
                        <div class="position_of_finger_box">
                            <h3>Finger Rotation:-</h3>
                            <p>Finger must be parallel to the sensor surface.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS110/finger-rotation1.png")" alt="Alternate Text" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS110/finger-rotation2.png")" alt="Alternate Text" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS110/finger-rotation3.png")" alt="Alternate Text" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="get_in_touch_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="appointment_box">
                    <h3>Talk to <strong>Mantra's</strong> Professional for help.</h3>
                    <p>Feel free to give us a call with any questions; we are waiting to hear from you. For Your bulk requirement just ask for quote.</p>
                    <a href="@Url.Content("/ProductInquiry/form")" class="schedule_appointment_btn">Schedule Appointment</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section bottom_allpages{



}