
@{
    ViewBag.Title = "MFS210";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{

    <title>Aadhaar Fingerprint Scanner | FAP20 MFS210 for Secure Identity Verification</title>
    <meta name="keywords" content="Aadhaar Fingerprint Scanner, FAP20 MFS210, Identity Verification, Secure Biometric Solutions, Biometric Security Device, Fingerprint Scanner FAP20, Advanced Authentication Systems, MFS210 Biometric Solutions, Banking Biometric Device, Government Authentication Device" />
    <meta name="description" content="Aadhaar Fingerprint Scanner FAP20 MFS210 designed for secure and efficient identity verification. Perfect for government, banking, and corporate applications." />
    <link rel="canonical" href="https://www.mantratec.com/products/Aadhaar-Fingerprint-Scanner-FAP20-MFS210" />

    <meta property="og:title" content="Aadhaar Fingerprint Scanner | FAP20 MFS210 for Secure Identity Verification" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.mantratec.com/products/Aadhaar-Fingerprint-Scanner-FAP20-MFS210" />
    <meta property="og:image" content="https://www.mantratec.com/Assets/Images/Pages/Products/MFS210/pro1.png" />
    <meta property="og:site_name" content="Mantra Softech India Pvt Ltd" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="Aadhaar Fingerprint Scanner FAP20 MFS210 designed for secure and efficient identity verification. Perfect for government, banking, and corporate applications." />

    <meta name="twitter:title" content="Aadhaar Fingerprint Scanner | FAP20 MFS210 for Secure Identity Verification" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://www.mantratec.com/products/Aadhaar-Fingerprint-Scanner-FAP20-MFS210" />
    <meta name="twitter:image" content="https://www.mantratec.com/Assets/Images/Pages/Products/MFS210/pro1.png" />
    <meta name="twitter:description" content="Aadhaar Fingerprint Scanner FAP20 MFS210 designed for secure and efficient identity verification. Perfect for government, banking, and corporate applications." />

}

@section top_allpages{

    <link href="@Url.Content("~/Assets/CSS/product/MFS210.css")" rel="stylesheet" />

}


<!-- Begin Slider -->
<section class="product_poster_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS210/MFS210.png")" alt="FAP20 MFS210" title="FAP20 MFS210" />
            </div>
            <div class="col-xl-7 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <h1>MFS210 Aadhaar Fingerprint Scanner FAP20</h1>
                <p>The FAP20 MFS210 is a cutting-edge biometric authentication device designed for Aadhaar and secure identity verification. Its advanced technology ensures reliable performance, making it ideal for use in government, banking, and corporate applications requiring precise and efficient authentication.</p>
                <div class="product_action_box">
                    <a href="@Url.Content("~/Assets/Images/Products/MFS210/MFS210.pdf")" class="action_box" download>
                        <i class="maicon_brochure"></i>
                        <p>Brochure</p>
                    </a>
                    <a href="#specification_section" class="action_box specification_section_click">
                        <i class="maicon_spcification"></i>
                        <p>Specification</p>
                    </a>
                    <a href="@Url.Content("/contact-us")" class="action_box">
                        <i class="maicon_inquiry"></i>
                        <p>Inquiry</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider -->
<!-- Begin Product Images -->
<section class="product_images_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS210/pro1.png")" alt="" title="" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS210/pro2.png")" alt="" title="" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS210/pro3.png")" alt="" title="" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS210/pro4.png")" alt="" title="" />
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<!-- Begin Product Images -->
<section class="application_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>APPLICATION</h2>
                <hr />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_banking_and_atm"></i>
                    <p>Banking</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_enterprise"></i>
                    <p>Corporates</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_distribution_system"></i>
                    <p>Public distribution system</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_payment"></i>
                    <p>Payment</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_institution"></i>
                    <p>Institution</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_merchant_payment"></i>
                    <p>Merchant Payment</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_government_applications"></i>
                    <p>E-Governance</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<section class="specification_section" id="specification_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="Specification_title">
                    <h2>Specification</h2>
                    <p>MFS210 feature exquisite specifications that are designed to address the modern-day requirements of individual identification and authentication.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Sensor</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Fingerprint Sensor Type :</strong></p>
                    <p>Scratch Free Optical Sensor</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Pixel Resolution :</strong></p>
                    <p>500 DPI +/- 2%</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Sensing Area :</strong></p>
                    <p>15.24mm x 20.32mm (0.6 x 0.8 Inch)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Image Size :</strong></p>
                    <p>300 x 400 Pixels</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Image Grayscale :</strong></p>
                    <p>256 (8 - Bit Gray Level)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>FRR & FAR :</strong></p>
                    <p>< 0.1% & < 0.001%</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Maximum Acquisition time :</strong></p>
                    <p>< 2 Sec( Placement to Template )</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Capture mode :</strong></p>
                    <p>Auto Finger detection functionality & Auto capture with built-in quality check (Incorporates NIST quality considerations)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Illumination Source :</strong></p>
                    <p>RED LED</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Security</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Crypto operation :</strong></p>
                    <p>Hardware base RSA2048 Key Generation, AES-GCM-256, SHA-256, TRNG support</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Secure Memory :</strong></p>
                    <p>TEE support by the device. Secure memory support key wraping feature</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Secure Boot :</strong></p>
                    <p>Secure boot support by the device</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Electrical</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Protocol :</strong></p>
                    <p>USB 2.0</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Operating Voltage :</strong></p>
                    <p>5V ± 5% (USB Powered Device)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Operating Current :</strong></p>
                    <p>< 100 mA</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Standby Current :</strong></p>
                    <p>< 50 mA</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Environmental</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Operating Temperature :</strong></p>
                    <p>-10°C to +70°C </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Storage Temperature :</strong></p>
                    <p>-20°C to +85°C</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Humidity (Operating / Storage) :</strong></p>
                    <p>< 90% RH, Non-condensing</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Compliant to Following Standard</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Biometric Data Interchange Format :</strong></p>
                    <p>ISO 19794-2 : 2005 & 2011 for minutiae,</p>
                    <p>ISO 19794-4 : 2005 & 2011 for Image Template in Encrypted mode</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>EMI / EMC Compliance :</strong></p>
                    <p>CE & FCC Part 15B class A</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>ESD protection :</strong></p>
                    <p>Contact Discharge: +/- 8kV,</p>
                    <p>Air Discharge: +/- 15kV</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Environmental, Health and Safety :</strong></p>
                    <p>RoHS</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Safety :</strong></p>
                    <p>EN / IEC 62368-1, IS 13252 (Part 1)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Image Quality :</strong></p>
                    <p>FBI PIV Certification, STQC</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>IP Rating :</strong></p>
                    <p>IP65</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Device Driver :</strong></p>
                    <p>WHQL certified</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>USB Interface :</strong></p>
                    <p>USB-IF Certified</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Dimensions</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Device Dimensions (L x W x H) :</strong></p>
                    <p>68 x 56.5 x 31.5 mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Device Weight :</strong></p>
                    <p>105 grams</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Module Dimensions (L x W x H) :</strong></p>
                    <p>44.10 x 38 x 28.7 mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Module Weight :</strong></p>
                    <p>35 grams</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>System Requirements</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Operating System</strong></p>
                    <p>: Windows - x86 & x64, Android - 7 & Above</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Standard Software/SDK</strong></p>
                    <p>UIDAI & STQC Certified L1 RD Service</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="get_in_touch_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <h2>Talk to <strong>Mantra's</strong> Professional for help.</h2>
                <p>Every client has unique requirement. Working together we’ll discover the right solution which fits in your budget to reach desire goal.</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <a href="@Url.Content("/ProductInquiry/form")" class="getin_contact_us_btn">Schedule Appointment</a>
            </div>
        </div>
    </div>
</section>


@section bottom_allpages{



}
