
@{
    ViewBag.Title = "MFS500Modules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>MFS500 Optical Fingerprint Scanner Module | Mantra</title>
    <meta name="keywords" content="optical fingerprint sensor module, fingerprint scanner module">
    <meta name="description" content="Check out MFS500 Optical Fingerprint Scanner module which is supported for multiple devices and scratch free sensor surface. Visit Mantra for scanners!">
    <link rel="canonical" href="https://sensor.mantratec.com/Modules/Optical-Fingerprint-Scanners-MFS500" />
    <meta property="og:title" content="MFS500 Optical Fingerprint Scanner Module | Mantra" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://sensor.mantratec.com/Modules/Optical-Fingerprint-Scanners-MFS500" />
    <meta property="og:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta property="og:site_name" content="Mantra" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="Check out MFS500 Optical Fingerprint Scanner module which is supported for multiple devices and scratch free sensor surface. Visit Mantra for scanners!" />
    <meta name="twitter:title" content="MFS500 Optical Fingerprint Scanner Module | Mantra" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://sensor.mantratec.com/Modules/Optical-Fingerprint-Scanners-MFS500" />
    <meta name="twitter:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta name="twitter:description" content="Check out MFS500 Optical Fingerprint Scanner module which is supported for multiple devices and scratch free sensor surface. Visit Mantra for scanners!" />
}

@section top_allpages{

    <link href="@Url.Content("~/Assets/css/module/MFS500.css")" rel="stylesheet" />

}

<!-- Begin Slider -->
<section class="product_poster_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Modules/MFS500/MFS500.png")" alt="MFS500 Optical Fingerprint Scanner Module" title="MFS500 Optical Fingerprint Scanner Module" />
            </div>
            <div class="col-xl-7 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <h1>
                    MFS500
                    <br />Optical Fingerprint Scanner
                </h1>
                <p>Model : MFS500 | Module : MOPv2.0</p>
                <div class="product_action_box">
                    <a href="@Url.Content("~/Assets/Images/Modules/MFS500/MFS500-Module.pdf")" class="action_box" download>
                        <i class="maicon_brochure"></i>
                        <p>Brochure</p>
                    </a>
                    <a href="#specification_section" class="action_box specification_section_click">
                        <i class="maicon_spcification"></i>
                        <p>Specification</p>
                    </a>
                    <a href="@Url.Content("/contact-us")" class="action_box">
                        <i class="maicon_inquiry"></i>
                        <p>Inquiry</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider -->
<!-- Begin Hardware Features -->
<section class="features_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Features</h2>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_lowest_far_frr"></i>
                    <p>Lowest FAR & FRR</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_API_specification"></i>
                    <p>Support Aadhaar auth API specification V2.0</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_minex_compliance"></i>
                    <p>MINEX compliance extractor</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_multiple_devices"></i>
                    <p>Supports multiple devices</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_usb_device"></i>
                    <p>High speed USB 2.0 interface with plug and play</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_scratch_free"></i>
                    <p>Scratch free sensor surface</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_DPI_optical_fingerprint"></i>
                    <p>500 DPI optical fingerprint sensor</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_fbi"></i>
                    <p>FBI PIV Certified</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hardware Features -->
<!-- Begin Hardware Features -->
<section class="specification_section" id="specification_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Specification</h2>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Sensor Characteristics</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Fingerprint Sensor</strong>
                    </p>
                    <p>Optical Scratch Free Sensor</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Resolution</strong>
                    </p>
                    <p>500 DPI +/-2%</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Platen Size</strong>
                    </p>
                    <p>16.4 mm x 20.0 mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Active Platen Size</strong>
                    </p>
                    <p>15 mm x 18 mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Size</strong>
                    </p>
                    <p>296 x 354 Pixels</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Grayscale</strong>
                    </p>
                    <p>256 (8 - Bit Gray Level)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Light Source</strong>
                    </p>
                    <p>RED LED</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Approx Dimensions (L x W x H)</strong>
                    </p>
                    <p>61 x 23 x 28.5</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Approx Weight</strong>
                    </p>
                    <p>0.026 Kg</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Electrical Characteristics</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating Voltage</strong>
                    </p>
                    <p>5V +/- 5% (USB Powered Device)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating Current (max)</strong>
                    </p>
                    <p>80 mA</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Stand by Current (max)</strong>
                    </p>
                    <p>40 mA</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Interface</strong>
                    </p>
                    <p>USB 2.0 (Std/OTG Supported)</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Environmental Characteristics</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating Temperature</strong>
                    </p>
                    <p>0 to 50 degC</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Storage Temperature</strong>
                    </p>
                    <p>0 to 50 degC</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Humidity (Operating / Storage)</strong>
                    </p>
                    <p>< 90% RH, Non-condensing</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Compliant to Following Standard</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Biometric Data Interchange Format</strong>
                    </p>
                    <p>ISO 19794-2 for minutiae & ISO 19794-4 for Image Template</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Environmental, Health and Safety</strong>
                    </p>
                    <p>RoHS Certification</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>BIS</strong>
                    </p>
                    <p>IS 13252 (Part 1)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Safety</strong>
                    </p>
                    <p>IEC60950</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>EMI / EMC Compliance</strong>
                    </p>
                    <p>CE & FCC Class A</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>*STQC Certification</strong>
                    </p>
                    <p>Yes</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>IP Rating</strong>
                    </p>
                    <p>IP54</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Device Driver</strong>
                    </p>
                    <p>WHQL Certified with Unique Serial Number</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>OS Supports</strong>
                    </p>
                    <p>Window x86 & x64, Linux, Android</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hardware Features -->
<!-- Begin Product Images -->
<section class="get_in_touch_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <h6>GET IN TOUCH</h6>
                <h2>Let’s talk! We have a perfect biometric solution for your industry.</h2>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <a href="@Url.Content("/contact-us")" class="getin_contact_us_btn">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->

@section bottom_allpages{

}
