
@{
    ViewBag.Title = "MFS500";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>MFS500 Advance Optical Fingerprint Scanner | Mantra</title>
    <meta name="keywords" content="optical fingerprint scanner, optical fingerprint sensor">
    <meta name="description" content="Searching for an advanced optical fingerprint scanner? Mantra provides MFS500 which offers high levels of security, accuracy and speed. Visit our site today!">
    <link rel="canonical" href="https://sensor.mantratec.com/Authentication-Scanner/Fingerprint-Scanner-MFS500" />
    <meta property="og:title" content="MFS500 Advance Optical Fingerprint Scanner | Mantra" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://sensor.mantratec.com/Authentication-Scanner/Fingerprint-Scanner-MFS500" />
    <meta property="og:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta property="og:site_name" content="Mantra" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="Searching for an advanced optical fingerprint scanner? Mantra provides MFS500 which offers high levels of security, accuracy and speed. Visit our site today!" />
    <meta name="twitter:title" content="MFS500 Advance Optical Fingerprint Scanner | Mantra" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://sensor.mantratec.com/Authentication-Scanner/Fingerprint-Scanner-MFS500" />
    <meta name="twitter:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta name="twitter:description" content="Searching for an advanced optical fingerprint scanner? Mantra provides MFS500 which offers high levels of security, accuracy and speed. Visit our site today!" />
}
@section top_allpages{

    <link href="@Url.Content("~/Assets/css/product/MFS500.css")" rel="stylesheet" />

}

<!-- Begin Slider -->
<section class="product_poster_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS500/MFS500-lg.png")" alt="MFS500 Advance Optical Fingerprint Scanner" title="MFS500 Advance Optical Fingerprint Scanner" />
            </div>
            <div class="col-xl-7 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <h1>MFS500</h1>
                <p>Optical Fingerprint FAP10 Devices for Highly Secure Identification and Verification Applications</p>
                <div class="product_action_box">
                    <a href="@Url.Content("~/Assets/Images/Products/MFS500/MFS500.pdf")" class="action_box" download>
                        <i class="maicon_brochure"></i>
                        <p>Brochure</p>
                    </a>
                    <a href="#specification_section" class="action_box specification_section_click">
                        <i class="maicon_spcification"></i>
                        <p>Specification</p>
                    </a>
                    <a href="@Url.Content("/contact-us")" class="action_box">
                        <i class="maicon_inquiry"></i>
                        <p>Inquiry</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider -->
<!-- Begin Product Images -->
<section class="product_images_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS500/pro1.png")" alt="Mantra MFS500 Scanner" title="Mantra MFS500 Scanner" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS500/pro2.png")" alt="MFS500 Fingerprint scanner" title="MFS500 Fingerprint scanner" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS500/pro3.png")" alt=" MFS500 Scanner" title=" MFS500 Scanner" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS500/pro4.png")" alt="Mantra MFS500 Optical Scanner" title="Mantra MFS500 Optical Scanner" />
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<!-- Begin Product Images -->
<section class="application_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Application</h2>
                <hr />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_banking_and_atm"></i>
                    <p>Banking & Finance</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_enterprise"></i>
                    <p>Corporates</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_distribution_system"></i>
                    <p>Public Distribution System</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_payment"></i>
                    <p>Payment</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_institution"></i>
                    <p>Institution</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_merchant_payment"></i>
                    <p>Merchant Payment</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_government_applications"></i>
                    <p>Government Applications</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_national_id_card"></i>
                    <p>ID verification</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<!-- Begin Morphs Compact Slap -->
<section class="optical_finger_scanner_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2>MFS500</h2>
                <h3>Advance Optical Fingerprint Scanner</h3>
                <div class="box_contain_part">
                    <p>A high-quality fingerprint scanner, the Mantra MFS500, was designed with an optical scratch-free sensor enabling effective recognition of fingerprints of inferior quality. An individual is identified and authenticated using the device. Our fingerprint scanner is aesthetically designed and equipped with a fingerprint recognition module to capture an individual's fingerprint images for specified applications.</p>
                </div>
                <div class="dual_iris_scanner_list">
                    <div class="dual_iris_scanner_box">
                        <h4>500 DPI +/- 2%</h4>
                        <p>Pixel Resolution</p>
                    </div>
                    <div class="dual_iris_scanner_box">
                        <h4>16.4 mm x 20.0 mm</h4>
                        <p>Platen Size</p>
                    </div>
                    <div class="dual_iris_scanner_box">
                        <h4>296 x 354 Pixels</h4>
                        <p>Image Size</p>
                    </div>
                    <div class="dual_iris_scanner_box">
                        <h4>
                            <2 sec
                        </h4>
                        <p>Capturing Speed</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS500/Slick-Capacitive-Fingerprint-Scanner.png")" alt="Mantra MFS500 Advance Optical Fingerprint Scanner" title="Mantra MFS500 Advance Optical Fingerprint Scanner" />
            </div>
        </div>
    </div>
</section>
<!-- End Morphs Compact Slap -->
<!-- Begin Hardware Features -->
<section class="features_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Features</h2>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_dust_water_resistant"></i>
                    <p>IP54 Protection</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_lowest_far_frr"></i>
                    <p>Lowest FAR & FRR</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_latent_fingerprint"></i>
                    <p>Latent fingerprint detection</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_minex_compliance"></i>
                    <p>MINEX compliance extractor</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_180_degree"></i>
                    <p>Support 180 degree rotation authentication</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_auto_finger_detection"></i>
                    <p>Auto Finger Detection</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_usb_device"></i>
                    <p>Module supports USB support</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_scratch_free"></i>
                    <p>Scratch free sensor surface</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hardware Features -->
<!-- Begin Product Video -->
<section class="product_video_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS500/video-product.png")" alt="MFS500 video product" title="MFS500 video product" />
            </div>
        </div>
    </div>
</section>
<!-- End Product Video -->
<!-- Begin Product Hardware -->
<section class="high_performance_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12 text-center">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS500/high-performance.png")" alt="Cutting Edge Techonology" title="Cutting Edge Techonology" />
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <h2>CUTTING EDGE TECHONOLOGY</h2>
                <h3>For Accurate and Reliable Verification</h3>
                <div class="box_contain_part">
                    <p>Fingerprint scanners or readers are simple to install, simple to use, safe, and dependable devices for recognizing and verifying people based on their fingerprint impressions, eliminating the need to remember passwords or PINs. Our Biometric Fingerprint Scanner MFS500 is a precise, secure, and durable device for verifying, identifying, and authenticating a person, and it records fingerprint images in a faster and more reliable manner.</p>
                </div>
                <div class="product_hardware_list">
                    <div class="product_hardware_box">
                        <h4>+5.0V ±5% (USB)</h4>
                        <p>Operating Voltage</p>
                    </div>
                    <div class="product_hardware_box">
                        <h4> 85mm x 51mm x 54mm</h4>
                        <p>Dimension</p>
                    </div>
                    <div class="product_hardware_box">
                        <h4>0.123 Kg</h4>
                        <p>Weight</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Hardware -->
<!-- Begin System Requirements -->
<section class="system_requirements_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <h2>Sensor Hardware</h2>
                <div class="box_contain_part">
                    <p>Our optical scratch-free fingerprint sensor has a spatial resolution of 500 DPI +/-2% and a platen size of 16.4 mm x 20.0 mm, with a sensing area of 15 mm x 18 mm. Its image size is 296 x 354 pixels with 256 (8-bit gray level) grayscale, and it uses a RED LED light source. The module dimensions are 61 x 23 x 28.5 mm, while the device dimensions are 85 x 51 x 54 mm, with respective weights of 0.025 kg and 0.123 kg. The maximum acquisition time from placement to template is < 2 sec, and the capture mode features auto finger detection and built-in quality checks that incorporate nist quality considerations.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="system_requirements_list">
                            <h3>Programming Language Support</h3>
                            <div class="system_requirements_box">
                                <i class="maicon_c"></i>
                                <p>C/C++</p>
                            </div>
                            <div class="system_requirements_box">
                                <i class="maicon_dot_net"></i>
                                <p>Dot Net </p>
                            </div>
                            <div class="system_requirements_box">
                                <i class="maicon_java"></i>
                                <p>Java</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="system_requirements_list">
                            <h3>Standard Software</h3>
                            <div class="system_requirements_box">
                                <i class="maicon_morfin_sdk"></i>
                                <p>SDK: Morfin_Authentication</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="system_requirements_img"> </div>
            </div>
        </div>
    </div>
</section>
<!-- End System Requirements -->
<!-- Begin Product Certification -->
<section class="product_certification_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12 text-center">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MELO31/Certification.jpg")" alt="Certification" title="Certification" />
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <h2>Certification</h2>
                <div class="box_contain_part">
                    <p>This specification includes the biometric data interchange formats of ISO 19794-2, ISO 19794-4, ANSI 378, WSQ3.1, and JPEG2000. It complies with RoHS for environmental health and safety, and IS 13252 (Part 1) for BIS safety standards. The device also meets EN/IEC 60950 safety requirements and has EMI/EMC compliance with CE and FCC Part 15B class A standards. The image quality is certified by FBI PIV and Mobile-ID FAP10, with an IP54 rating for protection against dust and water. The device driver is WHQL certified and has a unique serial number.</p>
                </div>
                <div class="certification_list">
                    <div class="certification_box">
                        <i class="maicon_fap10"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_ce"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_rohs"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_fcc"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_iec"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_whql"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_is"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_ip54"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_mosip_logo"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Certification -->
<!-- Begin Product sdk_usp -->
<section class="acquisition_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>High-Quality Fingerprint Acquisition</h2>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="acquisition_box">
                            <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS500/Acquisition-img1.jpg")" alt="Acquisition Image 1" title="Acquisition Image 1" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="acquisition_box">
                            <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS500/Acquisition-img2.jpg")" alt="Acquisition Image 2" title="Acquisition Image 2" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="acquisition_box">
                            <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MFS500/Acquisition-img3.jpg")" alt="Acquisition Image 3" title="Acquisition Image 3" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="acquisition_heand_box"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Product sdk_usp -->
<!-- Begin Product to Use & to Set-Up -->
<section class="easy_use_to_set_up_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <h2>Software Packages</h2>
                <div class="box_contain_part">
                    <p>MFS500 is easily connected to a computer with a USB connection, which allows the power supply and high-speed data transfer. The scanner can be easily integrated with applications of enrollment for identity management projects.</p>
                    <h3>2 Software Development Kit (SDK) options are available:</h3>
                    <p class="list_point">1:N Matching: MORFIN_SEARCH</p>
                    <p class="list_point">1:1 Matching: MORFIN_AUTH</p>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MELO31/Easy-to-Use.jpg")" alt="Easy to Use" title="Easy to Use" />
            </div>
        </div>
    </div>
</section>
<!-- End Product to Use & to Set-Up -->
<!-- Begin Product Images -->
<section class="supported_operating_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <h2>Supported Operating Systems</h2>
                <div class="box_contain_part">
                    <p>Our Optical fingerprint scanner is compatible with Windows x86 & x64, Linux, and Android operating systems.</p>
                    <p>
                        <strong>Image Formats:- </strong>RAW, BMP, JPEG2000, WSQ
                    </p>
                    <p class="list_point">ISO 19794-4:2011 with Uncompressed</p>
                    <p class="list_point">ISO 19794-4:2011 with WSQ compressed</p>
                    <p class="list_point">ISO 19794-4:2011 with JPEG2000 compressed</p>
                </div>
            </div>
            <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <div class="operating_systems_list">
                    <div class="operating_systems_box">
                        <i class="maicon_windows_operating_systems"></i>
                        <p>Windows 7/8/10</p>
                    </div>
                    <div class="operating_systems_box">
                        <i class="maicon_android_operating_system"></i>
                        <p>Android</p>
                    </div>
                    <div class="operating_systems_box">
                        <i class="maicon_linux_operating_systems"></i>
                        <p>Linux</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<!-- Begin Hardware Features -->
<section class="specification_section" id="specification_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>SPECIFICATION</h2>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Sensor Characteristics</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Fingerprint Sensor</strong>
                    </p>
                    <p>Optical Scratch Free Sensor</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Resolution</strong>
                    </p>
                    <p>500 DPI +/-2%</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Platen Size</strong>
                    </p>
                    <p>16.4 mm x 20.0 mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Active Platen Size</strong>
                    </p>
                    <p>15 mm x 18 mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Size</strong>
                    </p>
                    <p>296 x 354 Pixels</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Grayscale</strong>
                    </p>
                    <p>256 (8 - Bit Gray Level)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Light Source</strong>
                    </p>
                    <p>RED LED</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Approx Dimensions (L x W x H)</strong>
                    </p>
                    <p>61 x 23 x 28.5</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Approx Weight</strong>
                    </p>
                    <p>0.026 Kg</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Electrical Characteristics</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating Voltage</strong>
                    </p>
                    <p>5V +/- 5% (USB Powered Device)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating Current (max)</strong>
                    </p>
                    <p>80 mA</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Stand by Current (max)</strong>
                    </p>
                    <p>40 mA</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Interface</strong>
                    </p>
                    <p>USB 2.0 (Std/OTG Supported)</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Environmental Characteristics</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating Temperature</strong>
                    </p>
                    <p>0 to 50 degC</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Storage Temperature</strong>
                    </p>
                    <p>0 to 50 degC</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Humidity (Operating / Storage)</strong>
                    </p>
                    <p>< 90% RH, Non-condensing</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Compliant to Following Standard</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Biometric Data Interchange Format</strong>
                    </p>
                    <p>ISO 19794-2 for minutiae & ISO 19794-4 for Image Template</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Environmental, Health and Safety</strong>
                    </p>
                    <p>RoHS Certification</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>BIS</strong>
                    </p>
                    <p>IS 13252 (Part 1)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Safety</strong>
                    </p>
                    <p>IEC60950</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>EMI / EMC Compliance</strong>
                    </p>
                    <p>CE & FCC Class A</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>*STQC Certification</strong>
                    </p>
                    <p>Yes</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>IP Rating</strong>
                    </p>
                    <p>IP54</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Device Driver</strong>
                    </p>
                    <p>WHQL Certified with Unique Serial Number</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>OS Supports</strong>
                    </p>
                    <p>Window x86 & x64, Linux, Android</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hardware Features -->
<!-- Begin Product Images -->
<section class="get_in_touch_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <h6>GET IN TOUCH</h6>
                <h2>Let’s talk! We have a perfect biometric solution for your industry.</h2>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <a href="@Url.Content("/contact-us")" class="getin_contact_us_btn">Contact Us</a>
            </div>
        </div>
    </div>
</section><!-- End Product Images -->

@section bottom_allpages{

}
