
@{
    ViewBag.Title = "InsightsCaseStudies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Mantra Insights and Case Studies - Learn About Our Biometric Solutions</title>
    <meta name="keywords" content="case studies biometric systems">
    <meta name="description" content="Mantra's Insights and Case Studies provide valuable information on our biometric solutions and their applications. Discover how our solutions can benefit your business, from access control to healthcare, through real-world examples and success stories.">
    <link rel="canonical" href="https://sensor.mantratec.com/Insights-Case-Studies" />
    <meta property="og:title" content="Mantra Insights and Case Studies - Learn About Our Biometric Solutions" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://sensor.mantratec.com/Insights-Case-Studies" />
    <meta property="og:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta property="og:site_name" content="Mantra" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="Mantra's Insights and Case Studies provide valuable information on our biometric solutions and their applications. Discover how our solutions can benefit your business, from access control to healthcare, through real-world examples and success stories." />
    <meta name="twitter:title" content="Mantra Insights and Case Studies - Learn About Our Biometric Solutions" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://sensor.mantratec.com/Insights-Case-Studies" />
    <meta name="twitter:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta name="twitter:description" content="Mantra's Insights and Case Studies provide valuable information on our biometric solutions and their applications. Discover how our solutions can benefit your business, from access control to healthcare, through real-world examples and success stories." />
}
@section top_allpages{
    <link href="@Url.Content("~/Assets/Plugin/DataTables/jquery.dataTables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/CSS/Insights/CaseStudies.css")" rel="stylesheet" />
}
<section class="insightscasestudies_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>Our case studies to showcase our ability to reslove our clients unique requirements</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="@Url.Content("/")">Home</a>
                    </li>
                    <li>
                        <span>/</span>
                    </li>
                    <li>
                        <strong>Case Studies</strong>
                    </li>
                </ul>
                <p>Mantra Softech has a proven track record of delivering innovative and effective solutions to clients across various industries. Our case studies showcase our ability to understand our clients' unique requirements and develop customized solutions to meet their needs. From biometric-based attendance systems to contactless payment solutions, our products have helped clients streamline their operations, increase efficiency, and improve their bottom line. We take pride in our client success stories and look forward to adding your company's name to the list of satisfied clients.</p>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table id="CaseStudies_list" class="CaseStudies_list">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="javascript:void(0)" class="casestudies_box" onclick="CaseStudiesDownload('../Assets/Images/Insights/CaseStudies/Supporting-Maldives-CRVS-Rollout-with-Mantra-Biometrics.pdf')">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/Images/Insights/CaseStudies/Supporting-Maldives-CRVS-Rollout-with-Mantra-Biometrics.jpg")" alt="Supporting Maldives CRVS Rollout with Mantra Biometrics" title="Supporting Maldives CRVS Rollout with Mantra Biometrics" />
                                    <h3>Supporting Maldives CRVS Rollout with Mantra Biometrics</h3> @*<h6><i class="maicon_post_calendar"></i><span>19/04/2025</span></h6>*@
                                    <i class="maicon_insights_download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="javascript:void(0)" class="casestudies_box" onclick="CaseStudiesDownload('../Assets/Images/Insights/CaseStudies/Biometrics-in-Healthcare-Industry.pdf')">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/Images/Insights/CaseStudies/Biometrics-in-Healthcare-Industry.jpg")" alt="Biometrics in Healthcare Industry" title="Biometrics in Healthcare Industry" />
                                    <h3>Biometrics in Healthcare Industry</h3> @*<h6><i class="maicon_post_calendar"></i><span>06/04/2021</span></h6>*@
                                    <i class="maicon_insights_download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="javascript:void(0)" class="casestudies_box" onclick="CaseStudiesDownload('../Assets/Images/Insights/CaseStudies/Faster-customer-on-boarding-biometric-eKYC.pdf')">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/Images/Insights/CaseStudies/Faster-customer-on-boarding-biometric-eKYC.jpg")" alt="Faster customer on boarding biometric eKYC" title="Faster customer on boarding biometric eKYC" />
                                    <h3>Faster customer on-boarding biometric eKYC</h3> @*<h6><i class="maicon_post_calendar"></i><span>25/07/2019</span></h6>*@
                                    <i class="maicon_insights_download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="javascript:void(0)" class="casestudies_box" onclick="CaseStudiesDownload('../Assets/Images/Insights/CaseStudies/Aadhar-Authencaon-MFS100.pdf')">
                                    <img class="img-fluid" src="@Url.Content("~/Assets/Images/Insights/CaseStudies/Aadhar-Authencaon-MFS100.jpg")" alt="Aadhar Authencaon MFS100" title="Aadhar Authencaon MFS100" />
                                    <h3>Aadhar Authencaon - MFS100</h3> @*<h6><i class="maicon_post_calendar"></i><span>20/10/2018</span></h6>*@
                                    <i class="maicon_insights_download"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="insights_Modal" tabindex="-1" aria-labelledby="insights_ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="insights_ModalLabel">Please provide the requested information to download Case Studies.</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="crmWebToEntityForm" class="zcwf_lblLeft crmWebToEntityForm">
                    <form id="webform5281137000093722001" action="https://crm.zoho.com/crm/WebToLeadForm" name=WebToLeads5281137000093722001 method="POST" target="hidden_iframe" onSubmit="return checkMandatory5281137000093722001()" accept-charset="UTF-8">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" style="display:none;" name="xnQsjsdp" value="59141829df25021ef3b9d063d72df3c183da44a92a5df21bb0ffd95d6ee50b95" />
                                <input type="hidden" name="zc_gad" id="zc_gad" value="" />
                                <input type="text" style="display:none;" name="xmIwtLD" value="fda432833e3afc98a0c5ee8b0c72559cbad53a2fa99b6bffb07443fcf936f163b854731ab86f393b25d77b9f7828f2a2" />
                                <input type="text" style="display:none;" name="actionType" value="TGVhZHM=" />
                                <input type="text" style="display:none;" name="returnURL" value="null" />
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="Company">
                                        Company
                                        <span class="required_fild">*</span>
                                    </label>
                                    <input class="form-control" type="text" id="Company" aria-required="true" aria-label="Company" name="Company" aria-valuemax="200" maxlength="200" placeholder="Please Enter Company Name" />
                                    <div class="zcwf_col_help"></div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="Last_Name">
                                        Name
                                        <span class="required_fild">*</span>
                                    </label>
                                    <input class="form-control" type="text" id="Last_Name" aria-required="true" aria-label="Last Name" name="Last Name" aria-valuemax="80" maxlength="80" placeholder="Please Enter Name" />
                                    <div class="zcwf_col_help"></div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="Email">
                                        Email
                                        <span class="required_fild">*</span>
                                    </label>
                                    <input class="form-control" type="text" ftype="email" autocomplete="false" id="Email" aria-required="true" aria-label="Email" name="Email" aria-valuemax="100" crmlabel="" maxlength="100" placeholder="Please Enter Email ID" />
                                    <div class="zcwf_col_help"></div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="Mobile">
                                        Mobile
                                        <span class="required_fild">*</span>
                                    </label>
                                    <input class="form-control" type="text" id="Mobile" aria-required="true" aria-label="Mobile" name="Mobile" aria-valuemax="30" maxlength="30" placeholder="Please Enter Mobile No" />
                                    <div class="zcwf_col_help"></div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="Country">Country</label>
                                    <input class="form-control" type="text" id="City" aria-required="false" aria-label="City" name="City" aria-valuemax="100" maxlength="100" placeholder="Please Enter Country Name" />
                                    <div class="zcwf_col_help"></div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="City">City</label>
                                    <input class="form-control" type="text" id="Country" aria-required="false" aria-label="Country" name="Country" aria-valuemax="100" maxlength="100" placeholder="Please Enter City Name" />
                                    <div class="zcwf_col_help"></div>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="Description">
                                        Description
                                        <span class="required_fild">*</span>
                                    </label>
                                    <textarea class="form-control" aria-multiline="true" id="Description" aria-required="true" aria-label="Description" name="Description"></textarea>
                                    <div class="zcwf_col_help"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <hr />
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <img id="imgid5281137000093722001" src="https://crm.zoho.com/crm/CaptchaServlet?formId=fda432833e3afc98a0c5ee8b0c72559cbad53a2fa99b6bffb07443fcf936f163b854731ab86f393b25d77b9f7828f2a2&grpid=59141829df25021ef3b9d063d72df3c183da44a92a5df21bb0ffd95d6ee50b95" />
                                    <a class="btn btn-primary" href="javascript:;" onclick="reloadImg5281137000093722001();" title="Reload"><i class="bi bi-arrow-clockwise text-white"></i></a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="Description" id="reCaptchaField">Enter the Captcha</label>
                                    <input class="form-control" type="text" id="captchaField5281137000093722001" aria-labelledby="reCaptchaField" aria-valuemax="10" maxlength="10" name="enterdigest" placeholder="Please Enter Captcha" />
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 d-none">
                                <input type="text" style="display: none;" name="aG9uZXlwb3Q" value="" />
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input class="formsubmit submit_btn" type="submit" id="formsubmit" role="button" value="Submit" aria-label="Submit" title="Submit" />
                                <input class="reset_btn" type="reset" role="button" name="reset" value="Reset" aria-label="Reset" title="Reset" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ol-xs-12">
                                <iframe name="captchaFrame" style="display:none;"></iframe>
                                <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section bottom_allpages{
    <script src="@Url.Content("~/Assets/Plugin/DataTables/jquery.dataTables.min.js")"></script>

    <script>
        $(document).ready(function () {
            $("#CaseStudies_list").DataTable({
                ordering: !1
            })
        });
    </script>


    <script>
        var download_url;
        function CaseStudiesDownload(a) {
            download_url = a, $("#insights_Modal").modal("show")
        }
    </script>

    <script>
        /* Do not remove this code. */
        function reloadImg5281137000093722001() {
            var captcha = document.getElementById('imgid5281137000093722001');
            if (captcha.src.indexOf('&d') !== -1) {
                captcha.src = captcha.src.substring(0, captcha.src.indexOf('&d')) + '&d' + new Date().getTime();
            } else {
                captcha.src = captcha.src + '&d' + new Date().getTime();
            }
        }
        function historyBack5281137000093722001() {
            document.querySelector('.crmWebToEntityForm .formsubmit').removeAttribute('disabled');
            reloadImg5281137000093722001();
            window.removeEventListener('focus', historyBack5281137000093722001);
        }
        function validateEmail5281137000093722001() {
            var form = document.forms['WebToLeads5281137000093722001'];
            var emailFld = form.querySelectorAll('[ftype=email]');
            var i;
            for (i = 0; i < emailFld.length; i++) {
                var emailVal = emailFld[i].value;
                if ((emailVal.replace(/^\s+|\s+$/g, '')).length != 0) {
                    var atpos = emailVal.indexOf('@@');
                    var dotpos = emailVal.lastIndexOf('.');
                    if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= emailVal.length) {
                        alert('Please enter a valid email address. ');
                        emailFld[i].focus();
                        return false;
                    }
                }
            }
            return true;
        }
        //function checkMandatory5281137000093722001() {
        //    var mndFileds = new Array('Company', 'Last Name', 'Email', 'Mobile', 'Description');
        //    var fldLangVal = new Array('Company', 'Last\x20Name', 'Email', 'Mobile', 'Description');
        //    for (i = 0; i < mndFileds.length; i++) {
        //        var fieldObj = document.forms['WebToLeads5281137000093722001'][mndFileds[i]];
        //        if (fieldObj) {
        //            if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length == 0) {
        //                if (fieldObj.type == 'file') {
        //                    alert('Please select a file to upload.');
        //                    fieldObj.focus();
        //                    return false;
        //                }
        //                alert(fldLangVal[i] + ' cannot be empty.');
        //                fieldObj.focus();
        //                return false;
        //            } else if (fieldObj.nodeName == 'SELECT') {
        //                if (fieldObj.options[fieldObj.selectedIndex].value == '-None-') {
        //                    alert(fldLangVal[i] + ' cannot be none.');
        //                    fieldObj.focus();
        //                    return false;
        //                }
        //            } else if (fieldObj.type == 'checkbox') {
        //                if (fieldObj.checked == false) {
        //                    alert('Please accept  ' + fldLangVal[i]);
        //                    fieldObj.focus();
        //                    return false;
        //                }
        //            }
        //            try {
        //                if (fieldObj.name == 'Last Name') {
        //                    name = fieldObj.value;
        //                }
        //            } catch (e) { }
        //        }
        //    }
        //    if (!validateEmail5281137000093722001()) {
        //        return false;
        //    }
        //    var urlparams = new URLSearchParams(window.location.search);
        //    if (urlparams.has('service') && (urlparams.get('service') === 'smarturl')) {
        //        var webform = document.getElementById('webform5281137000093722001');
        //        var service = urlparams.get('service');
        //        var smarturlfield = document.createElement('input');
        //        smarturlfield.setAttribute('type', 'hidden');
        //        smarturlfield.setAttribute('value', service);
        //        smarturlfield.setAttribute('name', 'service');
        //        webform.appendChild(smarturlfield);
        //    }
        //    document.querySelector('.crmWebToEntityForm .formsubmit').setAttribute('disabled', true);
        //    window.addEventListener('focus', historyBack5281137000093722001);
        //}


        function checkMandatory5281137000093722001() {

            var mndFileds = new Array('Company', 'Last Name', 'Email', 'Mobile', 'Description');
            var fldLangVal = new Array('Company', 'Last Name', 'Email', 'Mobile', 'Description');

            for (i = 0; i < mndFileds.length; i++) {
                var fieldObj = document.forms['WebToLeads5281137000093722001'][mndFileds[i]];
                if (fieldObj && fieldObj.value.trim() == "") {
                    alert(fldLangVal[i] + ' cannot be empty.');
                    fieldObj.focus();
                    return false;
                }
            }

            if (!validateEmail5281137000093722001()) {
                return false;
            }

            document.querySelector('.crmWebToEntityForm .formsubmit').setAttribute('disabled', true);

            return true; // allow submit to iframe
        }

        document.getElementById("hidden_iframe").onload = function () {

            if (download_url) {

                var link = document.createElement("a");
                link.href = download_url;
                link.setAttribute("download", "");
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                $("#insights_Modal").modal("hide");

                document.getElementById("webform5281137000093722001").reset();
                document.querySelector('.crmWebToEntityForm .formsubmit').removeAttribute('disabled');
            }
        };


        function tooltipShow5281137000093722001(el) {
            var tooltip = el.nextElementSibling;
            var tooltipDisplay = tooltip.style.display;
            if (tooltipDisplay == 'none') {
                var allTooltip = document.getElementsByClassName('zcwf_tooltip_over');
                for (i = 0; i < allTooltip.length; i++) {
                    allTooltip[i].style.display = 'none';
                }
                tooltip.style.display = 'block';
            } else {
                tooltip.style.display = 'none';
            }
        }
    </script>

}
