
@{
    ViewBag.Title = "Howbiometricsistransforminghealthinsurancecards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{

    <title>The Impact of Biometrics on Health Insurance Cards</title>
    <meta name="keywords" content="" />
    <meta name="description" content="Explore how biometric technology is enhancing health insurance cards, offering faster access, and secure identity verification." />
    <link rel="canonical" href="https://sensor.mantratec.com/Blog/How-biometrics-is-transforming-health-insurance-cards" />

    <meta property="og:title" content="The Impact of Biometrics on Health Insurance Cards" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://sensor.mantratec.com/Blog/How-biometrics-is-transforming-health-insurance-cards" />
    <meta property="og:image" content="https://sensor.mantratec.com/Assets/Images/blog/2024/11/How-biometrics-is-transforming-health-insurance-cards-lg.jpg" />
    <meta property="og:site_name" content="Mantra" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="Explore how biometric technology is enhancing health insurance cards, offering faster access, and secure identity verification." />

    <meta name="twitter:title" content="The Impact of Biometrics on Health Insurance Cards" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://sensor.mantratec.com/Blog/How-biometrics-is-transforming-health-insurance-cards" />
    <meta name="twitter:image" content="https://sensor.mantratec.com/Assets/Images/blog/2024/11/How-biometrics-is-transforming-health-insurance-cards-lg.jpg" />
    <meta name="twitter:description" content="Explore how biometric technology is enhancing health insurance cards, offering faster access, and secure identity verification." />

}

@section top_allpages{
    <link href="@Url.Content("~/Assets/css/blog/bloginner.css")" rel="stylesheet" />
}

<section class="page_header_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="@Url.Content("/")">Home</a></li>
                    <li><span>/</span></li>
                    <li><a href="@Url.Content("/Blog")">Blog</a></li>
                    <li><span>/</span></li>
                    <li><span><strong>How biometrics is transforming health insurance cards</strong></span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="blog_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <div class="post">
                    <div class="post-header">
                        <h1 class="blog_post_header_title">How Biometrics is Transforming Health Insurance Cards</h1>
                        <p class="post-meta">&nbsp;Posted on:- <strong>02 November 2024</strong>&nbsp;By:- <strong>Archana Tulsiyani</strong></p>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img src="@Url.Content("~/Assets/Images/blog/2024/11/How-biometrics-is-transforming-health-insurance-cards-lg.jpg")"
                                     alt="How biometrics is transforming health insurance cards"
                                     title="How biometrics is transforming health insurance cards"
                                     class="img-fluid" />
                            </div>
                        </div>
                    </div>
                    <div class="post-content">

                        <p>Imagine walking into the hospital and accessing your healthcare benefits without the hassle of paperwork, queue, or any other physical card requirement. Relax, this is not the scene from any sci-fi movie; it is soon going to be the reality and future of the healthcare insurance industry. The National Health Care Anti-Fraud Association(NHCAA) estimates financial losses of $68 billion or as high as $300 billion due to healthcare fraud. Biometric technology is emerging as a game changer, offering unparalleled security, efficiency, and convenience. </p>
                        <p>When healthcare fraud affects millions, there should be a way that resolves it. What if a simple biometric iris scanner could ensure that only you access your health insurance benefits? As we dive deeper into how this technology is reshaping the landscape, you might start wondering how <a href="https://sensor.mantratec.com/Enrollment-Scanners/Dual-IRIS-Scanner-MATISX">retina scanner biometric devices</a> work & why it is important for health insurance cards. Let’s explore these questions and more in the blog together.</p>

                        <hr />

                        <h2 id="biometric_technology_important_for_healthcare">Why is biometric technology important for healthcare insurance cards?</h2>
                        <p>Biometric technology secures healthcare insurance cards by using unique traits like fingerprints and irises, reducing the risk of fraud and misuse. Unlike the traditional methods, biometrics technology such as iris readers can ensure only authorized access, protecting cardholders and minimizing fraudulent claims in healthcare insurance systems.</p>

                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Enhanced Security Through Biometrics</h4>
                                    <p>Unlike traditional cards or passwords that can be lost, stolen, or forged, biometric systems leverage unique physical traits like fingerprints and irises.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Exclusive Access with Biometric Devices</h4>
                                    <p>Iris scanner biometric device make it nearly impossible for unauthorized users to gain access, ensuring only genuine cardholders can use their insurance.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Combating Global Insurance Fraud</h4>
                                    <p>With millions affected by insurance fraud, biometrics such as Mantra iris help secure cardholder identities, minimizing fraudulent claims and misuse.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Reliable Verification for Peace of Mind</h4>
                                    <p>Each cardholder's identity is accurately verified, protecting both individuals and insurance providers from potential fraud.</p>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <h2 id="biometric_technology_work_in_healthcare">How does biometric technology work in healthcare insurance cards?</h2>
                        <p>Biometric technology in healthcare insurance cards works by using unique biological traits, like fingerprints, irises, or facial recognition, to verify the cardholder's identity. Here’s the breakdown of how biometric technology works in the healthcare insurance card:</p>

                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Enrollment</h4>
                                    <p>During the initial registration, the cardholder’s biometric data, such as a fingerprint or iris, is securely captured with a dual iris scanner and linked to their healthcare insurance profile.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Data Storage</h4>
                                    <p>This biometric data is either stored on a secure database or encrypted directly onto the insurance card itself, depending on the system’s setup.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Verification at the access point</h4>
                                    <p>When the cardholder seeks healthcare services, they scan their biometric data using a compatible device like the fingerprint scanner.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Authentication</h4>
                                    <p>The system matches the scanned biometric data with the stored data to confirm the cardholder’s identity, ensuring that only authorized personnel can access the benefits.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Fraud Prevention</h4>
                                    <p>By opting for unique physical traits to validate the identity, biometric technology significantly reduces fraudulent claims as the only legitimate cardholder can use the insurance card.</p>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <h2 id="biometric_health_insurance_cards_secure">What makes biometric health insurance cards secure?</h2>
                        <p>Biometric health insurance cards are secure due to the following key features:</p>

                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Unique Identification</h4>
                                    <p>Biometric health insurance cards use biological traits such as fingerprints or iris scans which are nearly impossible to duplicate or forge, ensuring each card is used only by its rightful owner.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Advanced Encryption</h4>
                                    <p>Biometric data is encrypted and stored securely, either on a centralized database or directly on the card. This encryption prevents unauthorized access and keeps sensitive information private.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Fraud prevention</h4>
                                    <p>Traditional health cards can be lost, stolen, or forged, but biometric cards require a live scan of the user’s biometric data with say an iris device to access benefits, reducing the risk of fraudulent claims.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Real-Time Verification</h4>
                                    <p>Biometric systems provide instant identity verification, making it difficult for anyone to use someone else’s card or attempt unauthorized access.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Tamper Resistant</h4>
                                    <p>Biometric data, once stored and encrypted, cannot be altered easily, this adds another layer of security against tampering or misuse.</p>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <h2 id="health_insurance_cards_more_secure_than_traditional_cards">Why are biometric health insurance cards more secure than traditional cards?</h2>
                        <p>Biometric health insurance cards offer a revolutionary level of security compared to traditional cards, addressing the number of vulnerabilities associated with the older systems. With the rise in the number of healthcare frauds and identity theft, biometric cards are emerging solutions that are not only more reliable but also nearly impossible to breach. Here’s why they stand out:</p>

                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Immutable Identity Verification</h4>
                                    <p>Traditional cards rely on numbers or PINs that can be easily stolen or shared. Biometric cards link directly to a person’s unique traits, like fingerprints or iris patterns from iris readers, which cannot be replicated or used by others.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Protection Against Fraud</h4>
                                    <p>Biometric verification ensures that one rightful cardholder can access the health care benefits, drastically reducing the risk of fraud if the card is lost or stolen.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Instant, Reliable Authentication</h4>
                                    <p>Biometric systems verify the identities in real time, preventing unauthorized access, while traditional cards may only undergo basic visual checks or a simple scan.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Eliminates Need for PINs or Passwords</h4>
                                    <p>Unlike traditional cards, biometric cards don't rely on passwords that can be guessed or hacked, as they leverage the security of biological data unique to each person.</p>
                                </div>
                            </div>
                        </div>

                        <p>These features make biometric health insurance cards far more secure, ensuring access to the benefits only for verified, eligible users and safeguarding sensitive information.</p>

                        <hr />

                        <h2 id="biometrics_for_healthcare_insurance_providers">What are the benefits of biometrics for healthcare insurance providers?</h2>
                        <p>Biometric technology is transforming healthcare insurance by providing insurers with more secure, efficient, and reliable ways to manage benefits and verify identities. When healthcare fraud and identity theft are on the rise,  biometric insurance providers offer robust tools such as Mantra iris scanners for safeguarding resources and enhancing customer trust. Here are some of the key benefits for healthcare insurance providers:</p>

                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Fraud Prevention</h4>
                                    <p>Biometrics helps prevent fraud by verifying each individual's identity with unique biological traits, such as fingerprints or iris scans. This significantly reduces false claims, identity theft, or misuse of benefits, saving insurers significant costs.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Enhanced Data Security</h4>
                                    <p>Biometric systems provide strong data security by encrypting and protecting sensitive information, ensuring that only authorized personnel can access and use healthcare benefits.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Streamlined Claims Processing</h4>
                                    <p>Real-time biometric verification reduces the paperwork and minimizes errors in claims processing, enabling faster and more accurate claims handling. This improves operational efficiency and enhances customer satisfaction.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Reduced Administrative Costs</h4>
                                    <p>Biometrics reduces the need for physical ID cards and extensive paperwork, this in turn lowers administrative expenses for insurers while increasing the system’s efficiency.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Improved Trust & Transparency </h4>
                                    <p>Using the biometric card enhances the trust between the insurers and policyholders, this promotes transparency and trust reducing disputes.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Compliance with Regulations</h4>
                                    <p>Biometric technology often meets stringent privacy and security regulations. This helps insurers stay compliant with data protection laws and avoid potential legal risks.</p>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <h2 id="healthcare_providers_prefer_biometric_solutions">Why do healthcare providers prefer biometric solutions?</h2>
                        <p>Biometric solutions are transforming healthcare by providing secure, efficient, and reliable ways to manage the patient's identity. With the rising concerns over data security and fraud, healthcare providers are turning to biometrics to streamline processes and protect sensitive information with tools like retina scanner biometric devices. Here are the key benefits driving this shift:</p>

                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Enhanced Security</h4>
                                    <p>Biometrics uses unique traits like fingerprints to secure patient records.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Accurate ID</h4>
                                    <p>Biometrics provides unique identifiers, in turn, it reduces duplicate records.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Fast Access</h4>
                                    <p>With Biometrics the check-in and service authorization process are much faster and smoother.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Compliance Support</h4>
                                    <p>Biometrics ensures data protection and privacy compliance as it adheres to the compliances according to the region.</p>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <h2 id="biometrics_in_reducing_administration_costs">What is the role of biometrics in reducing administration costs?</h2>
                        <p>Biometric technology such as <a href="https://sensor.mantratec.com/Authentication-Scanner/IRIS-Scanners-MIS100">iris devices</a> plays a vital role in lowering healthcare administrative costs by automating identity verification and reducing the need for physical IDs. Here’s how:</p>

                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Minimizing paperwork</h4>
                                    <p>Automated biometric identification reduces the manual paperwork and data entry, saving time and resources.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Eliminating ID Cards</h4>
                                    <p>With biometric verification, there’s no need for physical ID cards, lowering the production, replacement, and management costs.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Streamlined Verification</h4>
                                    <p>Biometric systems provide quick, accurate identification, reducing the time spent on patient verification, and allowing the staff to focus on the core tasks.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Fraud Prevention</h4>
                                    <p>Using biometrics helps to prevent fraud-related costs and resource misuse, and ensures that only legitimate patients access the benefits.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Reducing Duplicate Records</h4>
                                    <p>Biometrics create a unique patient profile, which in turn reduces the errors from duplicate or mismatched records which can create administrative overhead.</p>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <h2 id="Biometric_technology_directly_reduce_the_cost">How does Biometric technology directly reduce the cost?</h2>
                        <p>Biometric technology offers healthcare providers a practical way to cut down costs through a number of means such as dual iris scanners. Here are some points where biometric technology directly reduces the cost. </p>

                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Lowering IT Maintenance Cost </h4>
                                    <p>Integrating Biometric systems with the existing electronic health records (EHR) and IT infrastructures reduces the need for extensive upgrades or additional systems, which saves on large-term IT maintenance. </p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Improving Resource Allocation</h4>
                                    <p>By automating identity verification, labor expenses can be decreased by minimizing human data entry and paperwork and freeing up staff to concentrate on essential tasks.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Decreasing Legal Expenses</h4>
                                    <p>Lower legal and compliance costs result from improved security and fraud prevention since they lessen the possibility of legal problems brought on by identity theft or data breaches.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Reducing Insurance Premiums</h4>
                                    <p>Because of the reduced liability concerns, healthcare providers may be able to negotiate cheaper insurance premiums by putting in place biometric systems that reduce the chance of fraud.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Enhancing Operational Efficiency</h4>
                                    <p>Biometrics-enabled faster patient processing results in shorter service cycles, which enable facilities to handle more patients in the same amount of time, thereby boosting revenue without correspondingly raising expenditures.</p>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="blog_sub_point_box">
                                    <h4>Cutting Training Costs</h4>
                                    <p>In addition to saving time and money on training, biometric solutions can streamline procedures for new hires, potentially resulting in total operational savings.</p>
                                    <p>Biometric technology addresses these issues, which not only increases security but also results in longer-lasting cost savings in healthcare operations.</p>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <h2 id="Biometric_Health_Insurance_Cards">The Future of Biometric Health Insurance Cards</h2>
                        <p>Healthcare is being revolutionized by biometric health insurance cards, which simplify patient identification, lower fraud, and improve security.</p>
                        <p>Leading this change, <a href="https://sensor.mantratec.com/">Mantra</a> offers cutting-edge solutions that guarantee safe, effective, and legal patient contacts, establishing a new benchmark for healthcare systems worldwide.</p>

                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.Partial("~/Views/Blog/_rightPartial.cshtml")
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="table_of_content_box">
                            <span><strong>Table of Contents</strong></span>
                            <a href="#biometric_technology_important_for_healthcare">Why is biometric technology important</a>
                            <a href="#biometric_technology_work_in_healthcare">How does biometric technology work</a>
                            <a href="#biometric_health_insurance_cards_secure">What makes biometric health insurance cards secure</a>
                            <a href="#health_insurance_cards_more_secure_than_traditional_cards">Why are biometric health insurance cards more secure than traditional cards</a>
                            <a href="#biometrics_for_healthcare_insurance_providers">What are the benefits of biometrics</a>
                            <a href="#healthcare_providers_prefer_biometric_solutions">Why do healthcare providers prefer biometric solutions</a>
                            <a href="#biometrics_in_reducing_administration_costs">What is the role of biometrics in reducing administration costs</a>
                            <a href="#Biometric_technology_directly_reduce_the_cost">How does Biometric technology directly reduce the cost</a>
                            <a href="#Biometric_Health_Insurance_Cards">The Future of Biometric Health Insurance Cards</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section bottom_allpages{

    <script src="@Url.Content("~/Assets/Plugin/Jquery-Core-3.7.1/jquery-3.7.1.min.js")"></script>
    <script>
        $(document).ready(function () {
            var offset = -100; // Negative offset value

            $('.table_of_content_box a[href^="#"]').on('click', function (event) {
                event.preventDefault(); // Prevent default anchor click behavior

                var target = this.hash; // Get the hash part (id) from the clicked link
                var $target = $(target); // Get the target div

                if ($target.length) { // Check if the target exists
                    $('html, body').animate({
                        scrollTop: $target.offset().top + offset
                    }, 200); // Adjust scroll speed if necessary
                }
            });
        });
    </script>
}



