<!-- Begin footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <h4 class="sub_title_footer">
                    <strong>About Our </strong>Company
                </h4>
                <p class="about_footer">Mantra is a global hi-tech manufacturer of biometric products and solutions. Mantra offers a wide range of products in the biometric and RFID industry.</p>
                <div class="social_icons_footer">
                    <a href="https://www.facebook.com/Mantra.Biometrics/" target="_blank">
                        <i class="maicon_facebook"></i>
                    </a>
                    <a href="https://twitter.com/mantratec?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
                        <i class="maicon_twitter"></i>
                    </a>
                    <a href="https://in.linkedin.com/company/mantra-softech" target="_blank">
                        <i class="maicon_linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <h4 class="sub_title_footer">
                    <strong>Our</strong> Contact
                </h4>
                <ul class="contact_footer">
                    <li>
                        <i class="maicon_location_pin" aria-hidden="true"></i>
                        <p>B-1003, Shapath Hexa, Sarkhej - Gandhinagar Hwy, opp. Gujarat Highcourt, Vishwas City 1, Sola, Ahmedabad, Gujarat 380060.</p>
                    </li>
                    <li>
                        <i class="maicon_mail" aria-hidden="true"></i>
                        <strong>Sales: </strong>
                        <a href="mailto:sales@mantratec.com">sales@mantratec.com</a>
                    </li>
                    <li>
                        <i class="maicon_phone" aria-hidden="true"></i>
                        <strong>International Phone: </strong>
                        <a href="tel:07949068001">079-49068001</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <h4 class="sub_title_footer">
                    <strong>Our</strong> Policy
                </h4>
                <ul class="link_footer">
                    <li>
                        <a href="@Url.Content("/Return-Policy")">Return Policy</a>
                    </li>
                    <li>
                        <a href="@Url.Content("/Privacy-Policy")">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="@Url.Content("/Terms-of-Use")">Terms of Use</a>
                    </li>
                    <li>
                        <a class="website_protection_link" href="//www.dmca.com/Protection/Status.aspx?ID=50a436b8-3969-48be-8d25-f9c817689dba" title="DMCA.com Protection Status">
                            <img src="@Url.Content("~/Assets/Images/dmca_protected.png")" alt="DMCA.com Protection Status" title="DMCA.com Protection Status" class="img-fluid" />
                        </a>
                    </li>
                    <li>
                        <a class="website_protection_link" href="http://www.copyscape.com/">
                            <img src="@Url.Content("~/Assets/Images/copyscape.png")" border="0" alt="Protected by Copyscape" title="Protected by Copyscape Plagiarism Checker - Do not copy content from this page." class="img-fluid" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <h4 class="sub_title_footer">
                    <strong>Useful </strong>Link
                </h4>
                <ul class="link_footer">
                    <li>
                        <a href="@Url.Content("/Contact-Us")">Contact Us</a>
                    </li>
                    @*<li>
                        <a href="@Url.Content("/Insights-Case-Studies")">Case Studies</a>
                    </li>
                    <li>
                        <a href="@Url.Content("/Insights-White-Papers")">White Papers</a>
                    </li>*@
                    <li>
                        <a href="@Url.Content("/Blog")">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                <p class="copyrights_text">Copyrights 2026 <a href="https://www.mantratec.com/" target="_blank">Mantra Softech (India) Pvt. Ltd.</a> All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- End footer -->
<!-- Begin cookie message -->
<div class="Privacy_box" role="alert">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-9 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <strong>Cookies</strong>
                <br />
                <p>
                    We use essential and functional cookies on our website to provide you a more customized digital experience. To learn more about how we use cookies and how you can change your cookie settings, kindly refer to our
                    <a href="@Url.Content("/Privacy-Policy")" class="ppolicy">Privacy Statement</a>. If you are fine to resume in light of the above, please click on 'I Accept'.
                </p>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <a href="javascript:void(0)" class="i_accept_policy" id="cookie-popup">Accept Cookies</a>
            </div>
        </div>
    </div>
</div>
<!-- End cookie message -->
<!-- Begin scrollUp -->
<button id="scrollUp" class="scrollUp"> <svg width="60" height="60" viewBox="0 0 60 60" fill="rgb(32, 116, 174)" xmlns="http://www.w3.org/2000/svg"> <g> <path d="M31.6,20c-1-1-2.2-0.9-3.1,0c-4,4-7.9,7.9-11.9,11.9c-0.3,0.3-0.6,0.8-0.7,1.3c-0.2,0.9,0.2,1.7,1,2.2 c0.8,0.5,1.9,0.3,2.7-0.5c2.3-2.3,4.6-4.6,6.9-6.9c0.4-0.4,0.7-0.8,1.1-1.3c0.1,0.1,0.2,0.1,0.3,0.2c0,0.4,0,0.8,0,1.2 c0,8.2,0,16.5,0,24.7c0,2.1,0.7,3.1,2.2,3.1c1.4,0,2.1-1.1,2.2-3.2c0-8.2,0-16.4,0-24.6c0-0.4,0-0.8,0-1.5c0.3,0.3,0.5,0.4,0.6,0.5 c2.5,2.5,4.9,4.9,7.4,7.4c0.4,0.4,1,0.8,1.5,0.9c0.9,0.2,1.8-0.3,2.3-1.1c0.5-0.9,0.3-1.8-0.6-2.7C39.4,27.9,35.5,24,31.6,20z" /> <path d="M53.4,4.2c-7.8,0-15.5,0-23.3,0c-7.7,0-15.3,0-23,0c-0.4,0-0.8,0-1.2,0c-1.1,0.1-1.8,1-1.9,2C4,7.7,5,8.5,6.6,8.5 c15.6,0,31.1,0,46.7,0c0.2,0,0.5,0,0.7,0c1.2-0.1,2-1.2,1.9-2.4C55.8,4.9,55,4.2,53.4,4.2z" /> </g> </svg></button>
<!-- End scrollUp -->
