<!-- Begin header -->
<header class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="@Url.Content("/")"> <img src="@Url.Content("~/Assets/Images/logo.svg")" class="img-fluid" alt="mantratec" title="mantratec" /> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown authentication_menu">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Authentication Scanner </a>
                        <div class="dropdown-menu mega_menu_box">
                            <div class="container">
                                <div class="nav_menu_bg">
                                    <div class="row align-items-center">
                                        <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-6 col-sm-12 col-xs-12 col-12">
                                            <div class="row align-items-center">
                                                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                                    <h6 class="product_menu_subtitle">Optical Scanners</h6>
                                                    <p></p>
                                                </div>
                                                <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
                                                            <a href="@Url.Content("/Optical-Scanners/MELO31")" class="product_menu_box">
                                                                <img src="@Url.Content("~/Assets/Images/Products/MELO31/MELO31.png")" alt="MELO31" title="MELO31" />
                                                                <p>MELO31</p>
                                                            </a>
                                                        </div>
                                                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
                                                            <a href="@Url.Content("/Optical-Scanners/MFS500")" class="product_menu_box">
                                                                <img src="@Url.Content("~/Assets/Images/Products/MFS500/MFS500.png")" alt="MFS500" title="MFS500" />
                                                                <p>MFS500</p>
                                                            </a>
                                                        </div>
                                                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
                                                            <a href="@Url.Content("/Optical-Scanners/MFS110")" class="product_menu_box">
                                                                <img src="@Url.Content("~/Assets/Images/Products/MFS110/MFS110.png")" alt="MFS110" title="MFS110" />
                                                                <p>MFS110</p>
                                                            </a>
                                                        </div>
                                                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
                                                            <a href="@Url.Content("/Optical-Scanners/MFS210")" class="product_menu_box">
                                                                <img src="@Url.Content("~/Assets/Images/Products/MFS210/MFS210.png")" alt="MFS210" title="MFS210" />
                                                                <p>MFS210</p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                                    <h6 class="product_menu_subtitle">Capacitive Scanners</h6>
                                                    <p></p>
                                                </div>
                                                <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
                                                            <a href="@Url.Content("/Capacitive-Scanners/MARC10")" class="product_menu_box">
                                                                <img src="@Url.Content("~/Assets/Images/Products/MARC10/MARC10.png")" alt="MARC10" title="MARC10" />
                                                                <p>MARC10</p>
                                                            </a>
                                                        </div>
                                                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
                                                            <a href="@Url.Content("/Capacitive-Scanners/MARC11")" class="product_menu_box">
                                                                <img src="@Url.Content("~/Assets/Images/Products/MARC11/MARC11.png")" alt="MARC11" title="MARC11" />
                                                                <p>MARC11</p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                                    <h6 class="product_menu_subtitle">IRIS Scanners</h6>
                                                    <p></p>
                                                </div>
                                                <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
                                                            <a href="@Url.Content("/Iris-Scanners/MIS100")" class="product_menu_box">
                                                                <img src="@Url.Content("~/Assets/Images/Products/MIS100/MIS100.png")" alt="MIS100" title="MIS100" />
                                                                <p>MIS100</p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12">
                                            <div class="company_profile_box">
                                                <img class="img-fluid" src="@Url.Content("~/Assets/Images/home/our_company_profile.png")" alt="Our Company Profile" title="Our Company Profile" />
                                                <h6>Our Company Profile</h6>
                                                <p>Mantra is a Leading Hi-Tech and Quality biometric Product Manufacturer Company</p>
                                                <a href="@Url.Content("~/Assets/Images/Mantra-Company Profile-2026.pdf")" target="_blank">Download Company Profile</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown enrollment_menu">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">Biometric Terminal</a>
                        <div class="dropdown-menu mega_menu_box">
                            <div class="container">
                                <div class="nav_menu_bg">
                                    <div class="row align-items-center">
                                        <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-6 col-sm-12 col-xs-12 col-12">
                                            <div class="row">
                                                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 mb-5">
                                                    <h6 class="product_menu_subtitle">Biometric Terminal</h6>
                                                    <p></p>
                                                </div>
                                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
                                                    <a href="@Url.Content("/Biometric-Terminals/MBAS30")" class="product_menu_box">
                                                        <img src="@Url.Content("~/Assets/Images/Products/MBAS30/MBAS30.png")" alt="MBAS30" title="MBAS30" />
                                                        <p>MBAS30</p>
                                                        <p>Aadhaar Enabled Biometric Attendance System</p>
                                                    </a>
                                                </div>
                                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
                                                    <a href="@Url.Content("/Biometric-Terminals/MBAS40")" class="product_menu_box">
                                                        <img src="@Url.Content("~/Assets/Images/Products/MBAS40/MBAS40.png")" alt="MBAS40" title="MBAS40" />
                                                        <p>MBAS40</p>
                                                        <p>Multi-Modal Biometric Device for AEBAS</p>
                                                    </a>
                                                </div>
                                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
                                                    <a href="@Url.Content("/Biometric-Terminals/MBAS50")" class="product_menu_box">
                                                        <img src="@Url.Content("~/Assets/Images/Products/MBAS50/MBAS50.png")" alt="MBAS50" title="MBAS50" />
                                                        <p>MBAS50</p>
                                                        <p>Face Recognition Biometric Device - Aadhaar Enabled Attendance Solution</p>
                                                    </a>
                                                </div>
                                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
                                                    <a href="@Url.Content("/Biometric-Terminals/MT100")" class="product_menu_box">
                                                        <img src="@Url.Content("~/Assets/Images/Products/MT100/MT100.png")" alt="MT100" title="MT100" />
                                                        <p>MT100</p>
                                                        <p>Biometric Terminal</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12">
                                            <div class="company_profile_box">
                                                <img class="img-fluid" src="@Url.Content("~/Assets/Images/home/our_company_profile.png")" alt="Our Company Profile" title="Our Company Profile" />
                                                <h6>Our Company Profile</h6>
                                                <p>Mantra is a Leading Hi-Tech and Quality biometric Product Manufacturer Company</p>
                                                <a href="@Url.Content("~/Assets/Images/Mantra-Company Profile-2026.pdf")" target="_blank">Download Company Profile</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown modules_menu">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Modules </a>
                        <div class="dropdown-menu mega_menu_box">
                            <div class="container">
                                <div class="nav_menu_bg">
                                    <div class="row align-items-center">
                                        <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-6 col-sm-12 col-xs-12 col-12">
                                            <div class="row align-items-center">
                                                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                                    <h6 class="product_menu_subtitle">Optical Scanners</h6>
                                                    <p></p>
                                                </div>
                                                <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
                                                            <a href="@Url.Content("/Optical-Scanners/MELO31-Modules")" class="product_menu_box">
                                                                <img src="@Url.Content("~/Assets/Images/Modules/MELO31/MELO31.png")" alt="MELO31" title="MELO31" />
                                                                <p>MELO31</p>
                                                            </a>
                                                        </div>
                                                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
                                                            <a href="@Url.Content("/Optical-Scanners/MFS500-Modules")" class="product_menu_box">
                                                                <img src="@Url.Content("~/Assets/Images/Modules/MFS500/MFS500.png")" alt="MFS500" title="MFS500" />
                                                                <p>MFS500</p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                                    <h6 class="product_menu_subtitle">Capacitive Scanners</h6>
                                                    <p></p>
                                                </div>
                                                <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
                                                            <a href="@Url.Content("/Capacitive-Scanners/MARC10-Modules")" class="product_menu_box">
                                                                <img src="@Url.Content("~/Assets/Images/Modules/MARC10/MARC10.png")" alt="MARC10" title="MARC10" />
                                                                <p>MARC10</p>
                                                            </a>
                                                        </div>
                                                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
                                                            <a href="@Url.Content("/Capacitive-Scanners/MARC11-Modules")" class="product_menu_box">
                                                                <img src="@Url.Content("~/Assets/Images/Modules/MARC11/MARC11.png")" alt="MARC11" title="MARC11" />
                                                                <p>MARC11</p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                                    <h6 class="product_menu_subtitle">IRIS Scanners</h6>
                                                    <p></p>
                                                </div>
                                                <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 col-12">
                                                            <a href="@Url.Content("/Iris-Scanners/MIS100-Modules")" class="product_menu_box">
                                                                <img src="@Url.Content("~/Assets/Images/Modules/MIS100/MIS100.png")" alt="MIS100" title="MIS100" />
                                                                <p>MIS100</p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12">
                                            <div class="company_profile_box">
                                                <img class="img-fluid" src="@Url.Content("~/Assets/Images/home/our_company_profile.png")" alt="Our Company Profile" title="Our Company Profile" />
                                                <h6>Our Company Profile</h6>
                                                <p>Mantra is a Leading Hi-Tech and Quality biometric Product Manufacturer Company</p>
                                                <a href="@Url.Content("~/Assets/Images/Mantra-Company Profile-2026.pdf")" target="_blank">Download Company Profile</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Insights </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="@Url.Content("/Insights-Case-Studies")">Case Studies</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Content("/Insights-White-Papers")">White Papers</a>
                            </li>
                        </ul>
                    </li>*@
                    @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Support </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="https://sensor.mantratec.com/Product/Support/Download">Download</a>
                            </li>
                        </ul>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Content("/Blog")">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Content("/Contact-Us")">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- End header -->
