
@{
    ViewBag.Title = "MantraSmartIdentityatDigitalGovernmentAfrica2024";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{

    <title>Mantra Participating in Digital Government Africa 2024</title>
    <meta name="keywords" content="">
    <meta name="description" content="Discover Mantra’s advanced biometric solutions at Digital Government Africa 2024. Join us for partnership opportunities from 2nd to 4th October!" />
    <link rel="canonical" href="https://sensor.mantratec.com/Blog/Mantra-Smart-Identity-at-Digital-Government-Africa-2024" />

    <meta property="og:title" content="Mantra Participating in Digital Government Africa 2024" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://sensor.mantratec.com/Blog/Mantra-Smart-Identity-at-Digital-Government-Africa-2024" />
    <meta property="og:image" content="https://sensor.mantratec.com/Assets/Images/blog/2024/10/Mantra-Smart-Identity-at-Digital-Government-Africa-2024-lg.jpg" />
    <meta property="og:site_name" content="Mantra" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="Discover Mantra’s advanced biometric solutions at Digital Government Africa 2024. Join us for partnership opportunities from 2nd to 4th October!" />

    <meta name="twitter:title" content="Mantra Participating in Digital Government Africa 2024" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://sensor.mantratec.com/Blog/Mantra-Smart-Identity-at-Digital-Government-Africa-2024" />
    <meta name="twitter:image" content="https://sensor.mantratec.com/Assets/Images/blog/2024/10/Mantra-Smart-Identity-at-Digital-Government-Africa-2024-lg.jpg" />
    <meta name="twitter:description" content="Discover Mantra’s advanced biometric solutions at Digital Government Africa 2024. Join us for partnership opportunities from 2nd to 4th October!" />

}

@section top_allpages{

    <link href="@Url.Content("~/Assets/css/blog/bloginner.css")" rel="stylesheet" />

}

<section class="page_header_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="@Url.Content("/")">Home</a></li>
                    <li><span>/</span></li>
                    <li><a href="@Url.Content("/Blog")">Blog</a></li>
                    <li><span>/</span></li>
                    <li><span><strong>Mantra at Digital Government Africa 2024</strong></span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="blog_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <div class="post">
                    <div class="post-header">
                        <h1 class="blog_post_header_title">Mantra at Digital Government Africa 2024</h1>
                        <p class="post-meta">&nbsp;Posted on:- <strong>03 October 2024</strong>&nbsp;By:- <strong>Maitri Bhavsar</strong></p>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img src="@Url.Content("~/Assets/Images/blog/2024/10/Mantra-Smart-Identity-at-Digital-Government-Africa-2024-lg.jpg")"
                                     alt="Mantra at Digital Government Africa 2024"
                                     title="Mantra at Digital Government Africa 2024"
                                     class="img-fluid" />
                            </div>
                        </div>
                    </div>
                    <div class="post-content">
                        <p id="excited_announce_participation">Mantra is excited to announce our participation in <a href="https://africa-digital.com/2024/" target="_blank">Digital Government Africa 2024</a>, taking place from <span class="fw-bold">2nd to 4th October</span> at <span class="fw-bold">Lusaka, Zambia.</span> This summit, hosted by the Zambia Government, is Africa’s premier platform for digital transformation in governance, bringing together top decision-makers from across the continent.</p>
                        <br />
                        <p>At this prestigious event, we’ll showcase our cutting-edge biometric solutions designed to enhance digital governance, security, and service delivery. Visit us to engage in insightful discussions, and explore partnership opportunities to help redefine digital transformation across Africa.</p>
                        <hr />
                        <h2 id="Participation_Preview">Mantra Participation: A Preview</h2>
                        <p>During Digital Government Africa 2024, we will be showcasing innovative biometric solutions that meet the evolving needs of African governments and institutions. Our technologies are designed to streamline secure identity management and service delivery, driving efficiency and trust in digital ecosystems.</p>
                        <hr />
                        <h2 id="Explore_Strategic">Explore Strategic Partnerships</h2>
                        <p>This event provides the perfect opportunity to connect with our team and explore how Mantra’s solutions can support your organization’s digital transformation goals. Whether you are looking to form strategic partnerships or want to learn more about integrating our technology, we will be available throughout the event to discuss your needs.</p>
                        <hr />
                        <h2 id="Recap_Our_Success">Recap of Our Success: Highlights from Identity Week Amsterdam</h2>
                        <p>Following our successful participation in Identity Week Amsterdam, where we received overwhelming feedback on our biometric innovations, we are excited to bring our expertise to <span class="fw-bolder">Digital Government Africa 2024</span>. Our previous engagements have solidified our commitment to delivering cutting-edge technology for identity and security solutions.</p>
                        <hr />
                        <h2 id="Visit_Mantra_Smart_Identity">Why Visit Mantra at Digital Government Africa 2024?</h2>
                        <p>As the Africa Digital Government Summit continues to shape the future of digital transformation, this event is essential for professionals seeking to stay ahead. Here’s why you should visit the Mantra:</p>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="blog_sub_point_box">
                                    <p>Expert Insights</p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="blog_sub_point_box">
                                    <p>
                                        Innovative Biometric Technology
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="blog_sub_point_box">
                                    <p>
                                        Strategic Partnership Opportunities
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p><a href="https://sensor.mantratec.com/">Mantra</a> is dedicated to driving innovation in identity and security. We invite you to join us at Lusaka, Zambia from 2nd to 4th October to see how our solutions can transform your approach to governance and security. Let’s connect and shape the future of digital governance together!</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @Html.Partial("~/Views/Blog/_rightPartial.cshtml")
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="table_of_content_box">
                            <span><strong>Table of Contents</strong></span>
                            <a href="#excited_announce_participation">Excited to announce our participation</a>
                            <a href="#Participation_Preview">Participation: A Preview</a>
                            <a href="#Explore_Strategic">Explore Strategic Partnerships</a>
                            <a href="#Recap_Our_Success">Recap of Our Success</a>
                            <a href="#Visit_Mantra_Smart_Identity">Visit Mantra</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section bottom_allpages{

    <script src="@Url.Content("~/Assets/Plugin/Jquery-Core-3.7.1/jquery-3.7.1.min.js")"></script>
    <script>
        $(document).ready(function () {
            var offset = -100; // Negative offset value

            $('.table_of_content_box a[href^="#"]').on('click', function (event) {
                event.preventDefault(); // Prevent default anchor click behavior

                var target = this.hash; // Get the hash part (id) from the clicked link
                var $target = $(target); // Get the target div

                if ($target.length) { // Check if the target exists
                    $('html, body').animate({
                        scrollTop: $target.offset().top + offset
                    }, 200); // Adjust scroll speed if necessary
                }
            });
        });
    </script>
}




