
@{
    ViewBag.Title = "MBAS50";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Meta-title</title>
    <meta name="keywords" content="Meta-keyword">
    <meta name="description" content="Meta-description">
    <link rel="canonical" href="https://www.mantratec.com/Face-Recognition-Biometric-Device-MBAS50" />

    <meta property="og:title" content="Meta-title" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.mantratec.com/Face-Recognition-Biometric-Device-MBAS50" />
    <meta property="og:image" content="https://www.mantratec.com/Assets/Images/Pages/Productsproduct-image.png" />
    <meta property="og:site_name" content="Mantra Softech India Pvt Ltd" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="Meta-description" />


    <meta name="twitter:title" content="Meta-title" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://www.mantratec.com/Face-Recognition-Biometric-Device-MBAS50" />
    <meta name="twitter:image" content="https://www.mantratec.com/Assets/Images/Pages/Productsproduct-image.png" />
    <meta name="twitter:description" content="Meta-description" />

}

@section top_allpages{

    <link href="@Url.Content("~/Assets/CSS/product/MBAS50.css")" rel="stylesheet" />

}


<!-- Begin Slider -->
<section class="product_poster_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MBAS50/MBAS50.png")" alt="MBAS50 Face Recognition" title="MBAS50 Face Recognition" />
            </div>
            <div class="col-xl-7 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <h1>MBAS50 Face Recognition Biometric Device – Aadhaar Enabled Attendance Solution</h1>
                <p>The MBAS50 is a next-gen Aadhaar-enabled biometric attendance device featuring facial recognition for highly secure and contactless authentication. Designed in line with UIDAI’s AEBAS requirements, it brings enhanced accuracy, speed, and hygiene, making it ideal for government and enterprise deployments.</p>
                <div class="product_action_box">
                    <a href="@Url.Content("~/Assets/Images/Products/MBAS50/MBAS50.pdf")" class="action_box" download>
                        <i class="maicon_brochure"></i>
                        <p>Brochure</p>
                    </a>
                    <a href="#specification_section" class="action_box specification_section_click">
                        <i class="maicon_spcification"></i>
                        <p>Specification</p>
                    </a>
                    <a href="@Url.Content("/contact-us")" class="action_box">
                        <i class="maicon_inquiry"></i>
                        <p>Inquiry</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider -->
<!-- Begin Product Images -->
<section class="product_images_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MBAS50/pro2.png")" alt="" title="" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MBAS50/pro3.png")" alt="" title="" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MBAS50/pro4.png")" alt="" title="" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MBAS50/pro5.png")" alt="" title="" />
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<!-- Begin Product Images -->
<section class="application_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Application</h2>
                <hr />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_time_attendance"></i>
                    <p>Time Attendance</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_access_control"></i>
                    <p>Contactless Access Control</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_government_applications"></i>
                    <p>Government Schemes</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_banking_and_atm"></i>
                    <p>eKYC & Compliance</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_remote_workforce_verification"></i>
                    <p>Remote Workforce Verification</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_government_applications"></i>
                    <p>Educational Institutions</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<section class="specification_section" id="specification_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section_title">
                    <h2>Our <strong>Specifications</strong></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Hardware</h3>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>CPU:</strong></p>
                    <p>Octa-core 2.0 GHz Processor</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Memory:</strong></p>
                    <p>64GB storage, 4GB RAM</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>SD Card:</strong></p>
                    <p>microSD (Dedicated Slot)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Operating System:</strong></p>
                    <p>Android 15</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Camera:</strong></p>
                    <p>8MP Front Camera</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Audio:</strong></p>
                    <p>1W, 8 ohm Speaker</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Proximity Sensor:</strong></p>
                    <p>Detects objects up to 1.5 metre</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>ALS Sensor:</strong></p>
                    <p>Ambient light sensor up to 1.5K lux</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Flash: </strong></p>
                    <p>Auto-adjustable White Light for Clear Day & Night Authentication</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Battery:</strong></p>
                    <p>5200 mAh Li-Po (Non-Removable)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Display & Touch</h3>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Screen:</strong></p>
                    <p>6.5" IPS LCD</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Touch:</strong></p>
                    <p>Capacitive Multi Touch with Scratch-Resistant Protective Glass</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Interface</h3>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>WIFI:</strong></p>
                    <p>Wi-Fi 802.11 a/b/g/n/ac, Dual-Band</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Bluetooth:</strong></p>
                    <p>BLE 5.0</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>GPS:</strong></p>
                    <p>GPS, GLONASS, GALILEO</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>SIM Socket:</strong></p>
                    <p>Dual SIM (Nano-SIM, Dual Stand-by)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Network:</strong></p>
                    <p>GSM/HSPA/LTE</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Power & Charging </h3>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Charging Port:</strong></p>
                    <p>USB Type-C</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Adapter Input:</strong></p>
                    <p>230V – 100V AC</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Adapter Output:</strong></p>
                    <p>5V/2A DC</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>General Parameter</h3>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Casing:</strong></p>
                    <p>Durable ABS Plastic, Metal Finish</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Operating / Storage Temperature:</strong></p>
                    <p>0°C to 45°C</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Operating Humidity:</strong></p>
                    <p>10%-90% RH (Non-Condensing)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Dimensions (L x W x H):</strong></p>
                    <p>197 x 98 x 25mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Weight:</strong></p>
                    <p>350 grams</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Mounting Type:</strong></p>
                    <p>Wall Mount</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="get_in_touch_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <h2>Talk to <strong>Mantra's</strong> Professional for help.</h2>
                <p>Feel free to give us a call with any questions; we are waiting to hear from you. For Your bulk requirement just ask for quote.</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <a href="@Url.Content("/ProductInquiry/form")" class="getin_contact_us_btn">Schedule Appointment</a>
            </div>
        </div>
    </div>
</section>

@section bottom_allpages{



}

