
@{
    ViewBag.Title = "MBAS30";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Meta-title</title>
    <meta name="keywords" content="Meta-keyword">
    <meta name="description" content="Meta-description">
    <link rel="canonical" href="https://www.mantratec.com/Aadhaar-Enabled-Biometric-Attendance-System-MBAS30" />

    <meta property="og:title" content="Meta-title" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.mantratec.com/Aadhaar-Enabled-Biometric-Attendance-System-MBAS30" />
    <meta property="og:image" content="https://www.mantratec.com/Assets/Images/Pages/Productsproduct-image.png" />
    <meta property="og:site_name" content="Mantra Softech India Pvt Ltd" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="Meta-description" />


    <meta name="twitter:title" content="Meta-title" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://www.mantratec.com/Aadhaar-Enabled-Biometric-Attendance-System-MBAS30" />
    <meta name="twitter:image" content="https://www.mantratec.com/Assets/Images/Pages/Productsproduct-image.png" />
    <meta name="twitter:description" content="Meta-description" />

}

@section top_allpages{

    <link href="@Url.Content("~/Assets/CSS/product/MBAS30.css")" rel="stylesheet" />

}

<!-- Begin Slider -->
<section class="product_poster_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MBAS30/MBAS30.png")" alt="MBAS30" title="MBAS30" />
            </div>
            <div class="col-xl-7 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <h1>MBAS30 Aadhaar Enabled Biometric Attendance System</h1>
                <p>The MBAS30 is a compact Aadhaar-enabled biometric device built for efficient time-attendance and identity verification. Featuring STQC-certified fingerprint technology and robust connectivity options, it ensures UIDAI-compliant performance for various sectors.</p>
                <div class="product_action_box">
                    <a href="@Url.Content("~/Assets/Images/Products/MBAS30/MBAS30.pdf")" class="action_box" download>
                        <i class="maicon_brochure"></i>
                        <p>Brochure</p>
                    </a>
                    <a href="#specification_section" class="action_box specification_section_click">
                        <i class="maicon_spcification"></i>
                        <p>Specification</p>
                    </a>
                    <a href="@Url.Content("/contact-us")" class="action_box">
                        <i class="maicon_inquiry"></i>
                        <p>Inquiry</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider -->
<!-- Begin Product Images -->
<section class="product_images_section">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MBAS30/pro1.png")" alt="" title="" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MBAS30/pro2.png")" alt="" title="" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MBAS30/pro3.png")" alt="" title="" />
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<!-- Begin Product Images -->
<section class="application_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Application</h2>
                <hr />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="bi bi-arrow-bar-right"></i>
                    <p>Government AEBAS Projects</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="bi bi-arrow-bar-right"></i>
                    <p>Field Staff Attendance</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="bi bi-arrow-bar-right"></i>
                    <p>Labor Compliance Management</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="bi bi-arrow-bar-right"></i>
                    <p>Rural Service Centers</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="bi bi-arrow-bar-right"></i>
                    <p>PDS Authentication</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<section class="specification_section" id="specification_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section_title">
                    <h2>Key <strong>Specifications</strong></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Hardware & System</h3>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>CPU:</strong></p>
                    <p>ARM Cortex A53 @@ 1.5GHz Quad Core Processor</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Memory:</strong></p>
                    <p>2GB RAM + 32GB Flash</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>LCD:</strong></p>
                    <p>7" TFT LCD with 1024x600 Resolution</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Touch:</strong></p>
                    <p>Scratch Resistant Multi-Point Capacitive Touch Screen with 6H Toughen Glass</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Audio:</strong></p>
                    <p>High-Quality 1W Speaker for Announcements</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Object Detection sensor:</strong></p>
                    <p>IR based Proximity sensor for device auto sleep & Wakeup</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Operating System:</strong></p>
                    <p>Android 10</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>RTC:</strong></p>
                    <p>Yes</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Control Buttons:</strong></p>
                    <p>1x Power On/Off, 1x Reset Key</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Operating / Storage Temperature:</strong></p>
                    <p>0 Deg - 50 Deg C</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Operating Humidity:</strong></p>
                    <p>10%-90% RH (Non-Condensing)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Dimensions:</strong></p>
                    <p>238 x 185 x 37mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Weight:</strong></p>
                    <p>Approx 0.8Kg</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Certifications:</strong></p>
                    <p>CE, RoHS, BIS, IP54</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Camera:</strong></p>
                    <p>2MP Fixed Focus Camera</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Fingerprint Sensor (Model: MFS110)</h3>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Fingerprint Type: </strong></p>
                    <p>Scratch Free Optical FAP10 Sensor</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Fingerprint Image: </strong></p>
                    <p>276 x 336 Pixels (Platen Area:- 14.0 mm x 17.0 mm)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Image Specs</strong></p>
                    <p>500DPI, 8 Bit Grayscale</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Certifications: </strong></p>
                    <p>CE, FCC, RoHS, STQC L1, UIDAI, FBI PIV, EN/IEC 62368-1 , IS13252 Part I</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Interfaces</h3>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>2G GSM/GPRS/EDGE:</strong></p>
                    <p>850/900/1800/1900</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>3G WCDMA:</strong></p>
                    <p>B1/B2/B5/B8</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>4G FDD:</strong></p>
                    <p>B1/B3/B5/B7/B8/B38/B40/B41</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>4G TDD:</strong></p>
                    <p>All Band</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Wi-Fi: </strong></p>
                    <p>IEEE 802.11 a/b/g/n</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>GPS: </strong></p>
                    <p>16 Channel NMEA Compliant with Flex Antenna, AGPS Supported</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>SD Card: </strong></p>
                    <p>MicroSD Card (Supports up to 64GB)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Bluetooth: </strong></p>
                    <p>BT & BLE 4.0</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Ethernet: </strong></p>
                    <p>10/100 Mbps</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>SIM Socket:</strong></p>
                    <p>2 x Micro SIM Socket </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>USB 2.0: </strong></p>
                    <p>1 x USB2.0 Type A Connector</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>DC Jack: </strong></p>
                    <p>1 x DC Power Input</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Micro USB: </strong></p>
                    <p>1 Micro USB Port for PC Connection as debug port</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Electrical</h3>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Power Adaptor:</strong></p>
                    <p>Input AC: 90~265V, 50Hz <br /> Output DC: 12V/2.0A</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p><strong>Battery Capacity:</strong></p>
                    <p>Li-Ion 6000 mAh <br /> Rechargeable & Replaceable Battery</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="get_in_touch_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <h2>Talk to <strong>Mantra's</strong> Professional for help.</h2>
                <p>Feel free to give us a call with any questions; we are waiting to hear from you. For Your bulk requirement just ask for quote.</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <a href="@Url.Content("/ProductInquiry/form")" class="getin_contact_us_btn">Schedule Appointment</a>
            </div>
        </div>
    </div>
</section>

@section bottom_allpages{



}