
@{
    ViewBag.Title = "MT100";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{

    <title>Introducing MT100: The Ultimate Biometric Tablet for Secure Mobile Operations</title>
    <meta name="keywords" content="">
    <meta name="description" content="Discover the MT100 Biometric Tablet, engineered for enhanced security and mobility. With advanced biometric features, it's the perfect solution for on-the-go verification, data collection, and communication needs.">
    <link rel="canonical" href="https://www.mantratec.com/products/Biometric-Tablet-MT100" />

    <meta property="og:title" content="Introducing MT100: The Ultimate Biometric Tablet for Secure Mobile Operations" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.mantratec.com/products/Biometric-Tablet-MT100" />
    <meta property="og:image" content="https://www.mantratec.com/images/Products/.png" />
    <meta property="og:site_name" content="Mantra Softech India Pvt Ltd" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="Discover the MT100 Biometric Tablet, engineered for enhanced security and mobility. With advanced biometric features, it's the perfect solution for on-the-go verification, data collection, and communication needs." />

    <meta name="twitter:title" content="Introducing MT100: The Ultimate Biometric Tablet for Secure Mobile Operations" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://www.mantratec.com/products/Biometric-Tablet-MT100" />
    <meta name="twitter:image" content="https://www.mantratec.com/images/Products/.png" />
    <meta name="twitter:description" content="Discover the MT100 Biometric Tablet, engineered for enhanced security and mobility. With advanced biometric features, it's the perfect solution for on-the-go verification, data collection, and communication needs." />

}

@section top_allpages{

    <link href="@Url.Content("~/Assets/CSS/product/MT100.css")" rel="stylesheet" />

}

<!-- Begin Slider -->
<section class="product_poster_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MT100/MT100.png")" alt="MT100" title="MT100" />
            </div>
            <div class="col-xl-7 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <h1>MT100 Biometric Terminal</h1>
                <p>Mantra Softech is a Global Hi-Tech Manufacturer of Biometric Products and Solutions. We offer a Wide Range of Products in Biometric and RFID Industry</p>
                <div class="product_action_box">
                    <a href="@Url.Content("~/Assets/Images/Products/MT100/MT100.pdf")" class="action_box" download>
                        <i class="maicon_brochure"></i>
                        <p>Brochure</p>
                    </a>
                    <a href="#specification_section" class="action_box specification_section_click">
                        <i class="maicon_spcification"></i>
                        <p>Specification</p>
                    </a>
                    <a href="@Url.Content("/contact-us")" class="action_box">
                        <i class="maicon_inquiry"></i>
                        <p>Inquiry</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider -->
<!-- Begin Product Images -->
<section class="product_images_section">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MT100/pro1.png")" alt="" title="" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MT100/pro2.png")" alt="" title="" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MT100/pro3.png")" alt="" title="" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MT100/pro4.png")" alt="" title="" />
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<section class="features_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="features_title">
                    <h2>Features</h2>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_dual_iris"></i>
                    <p>IRIS Scanner</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_latent_fingerprint"></i>
                    <p>Fingeprint Scanner</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_Barcode_Scanner"></i>
                    <p>Barcode Scanner</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_qr_code"></i>
                    <p>QR Scanner</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_ce"></i>
                    <p>CE Certification</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_rohs"></i>
                    <p>ROHS Certification</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_is"></i>
                    <p>IS 13252(Part 1)</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_fcc"></i>
                    <p>FCC</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_IP54"></i>
                    <p>IP54</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="specification_section" id="specification_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="Specification_title">
                    <h2>Specification</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Hardware & System</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>CPU:</strong></p>
                    <p>ARM Cortex A53 &#x40;2.0 GHz Quad Core Processor</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Memory:</strong></p>
                    <p>2GB RAM + 32GB eMMC</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Operating System:</strong></p>
                    <p>Android 13</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>QR & Barcode Scanner:</strong></p>
                    <p>8MP AF camera with High brightness Flash LED</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Audio:</strong></p>
                    <p>High-Quality 1W Speaker for Announcements</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Control Buttons:</strong></p>
                    <p>1x Power On/Off, 1x Reset Key</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Dimensions (in mm):</strong></p>
                    <p>237 x 236 x 87mm</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Display & Touch</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Display:</strong></p>
                    <p>7" IPS LCD with resolution (1024 X 600) with 16M colors</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Touch:</strong></p>
                    <p>Scratch Resistant Multi-Point Capacitive Touch Screen with 6H Toughen Glass</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>IRIS Scanner (Optional)</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Spatial Resolution:</strong></p>
                    <p>> 50% &#x40; 1.0 LP/mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Pixel Resolution:</strong></p>
                    <p>> 10 Pixels/mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Image Margins Left & Right:</strong></p>
                    <p>>= 0.6x IRIS Radius</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Image Margins Top & Bottom:</strong></p>
                    <p>>= 0.2x IRIS Radius</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Imaging Wavelength:</strong></p>
                    <p>700-900 nm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Pixel Depth:</strong></p>
                    <p>8 Bits/Pixel</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Certification:</strong></p>
                    <p>CE, FCC, RoHS, BIS, IP54, STQC L0, IEC 62471</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Fingerprint Sensor</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Fingerprint Type:</strong></p>
                    <p>Scratch Free Optical FAP10 Sensor</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Fingerprint Image:</strong></p>
                    <p>276 x 336 Pixels ( Platen Area: 14.0 mm x 17.0 mm)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Image Specs:</strong></p>
                    <p>500DPI, 8 Bit Grayscale</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Certifications:</strong></p>
                    <p>CE, FCC, RoHS, STQC L1, FBI PIV, EN/IEC 62368-1 , IS13252 Part I</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Thermal Printer</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Printer:</strong></p>
                    <p>Integrated 2" Thermal Printer</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Printing Speed:</strong></p>
                    <p>70mm/s</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Effective Printing Width:</strong></p>
                    <p>48mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Style:</strong></p>
                    <p>Black and White</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Sensor</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Accelerometer:</strong></p>
                    <p>3-AXIS Accelerometer</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Other Sensor:</strong></p>
                    <p>Ambient Light Sensor</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Electrical</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Power Adapter Input:</strong></p>
                    <p>90 to 275V AC , 50Hz. with surge protection</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Power Adapter Output:</strong></p>
                    <p>5V, 3A DC</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Battery:</strong></p>
                    <p>Swappable & Rechargeable 8940mAH Li-on battery</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Charging Connector:</strong></p>
                    <p>DC Jack</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Input Power:</strong></p>
                    <p>5V, 3A DC</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Interface</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>2G GSM/GPRS/EDGE:</strong></p>
                    <p>850/900/1800/1900</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>3G WCDMA:</strong></p>
                    <p>B1/B2/B5/B8</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>4G FDD:</strong></p>
                    <p>B1/B3/B5/B7/B8/B38/B40/B41</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>4G TDD:</strong></p>
                    <p>All Band</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>External Antenna:</strong></p>
                    <p>Optional</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>SD Card:</strong></p>
                    <p>Micro SD slot supporting up to 256 GB memory card</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Wi-Fi 2.4GHz & 5.0 Ghz:</strong></p>
                    <p>IEEE 802.11 a/b/g/n/ac with Flex antenna</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Ethernet 10/100 Mbps (Optional):</strong></p>
                    <p>Ethernet 10/100 Mbps</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Bluetooth:</strong></p>
                    <p>BT & Bluetooth 5.1, 16DB Power TX Capacity</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>GPS:</strong></p>
                    <p>16 Channel NMEA Compliant with Flex Antenna, AGPS Supported</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>SIM Slot:</strong></p>
                    <p>2 x Micro SIM Slot</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>SAM Slot:</strong></p>
                    <p>2 x SAM Slot</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Micro USB:</strong></p>
                    <p>1 x Micro USB Port for PC Connection as debug port</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>USB:</strong></p>
                    <p>2 x USB2.0 Type A</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Environmental</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Operating Temperature:</strong></p>
                    <p>0°C to +50°C</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Storage Temperature:</strong></p>
                    <p>- 20°C to +85°C</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Humidity (Operating / Storage):</strong></p>
                    <p>< 90% RH, Non-condensing</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Certifications</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p><strong>Certifications:</strong></p>
                    <p>CE, FCC, RoHS, BIS, IP54</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="get_in_touch_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <h2>Talk to <strong>Mantra's</strong> Professional for help.</h2>
                <p>Feel free to give us a call with any questions; we are waiting to hear from you. For Your bulk requirement just ask for quote.</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <a href="@Url.Content("/ProductInquiry/form")" class="getin_contact_us_btn">Schedule Appointment</a>
            </div>
        </div>
    </div>
</section>

@section bottom_allpages{

    <script src="@Url.Content("~/assets/plugin/owl.carousel/js/owl.carousel.min.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#product_images').owlCarousel({
                loop: !0,
                animateOut: 'fadeOut',
                nav: !1,
                dots: !1,
                margin: 50,
                autoplay: !0,
                autoplayTimeout: 3000,
                autoplayHoverPause: !1,
                autoplaySpeed: 3000,
                responsive: {
                    0: {
                        margin: 10,
                        items: 1
                    },
                    480: {
                        margin: 10,
                        items: 1
                    },
                    600: {
                        margin: 20,
                        items: 1
                    },
                    1000: {
                        items: 1
                    },
                    1100: {
                        items: 1
                    }
                }
            });
        });
    </script>

}
