
@{
    ViewBag.Title = "MARC11Modules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="canonical" href="https://sensor.mantratec.com/" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://sensor.mantratec.com/" />
    <meta property="og:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta property="og:site_name" content="Mantra" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://sensor.mantratec.com/" />
    <meta name="twitter:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta name="twitter:description" content="" />
}
@section top_allpages{

    <link href="@Url.Content("~/Assets/css/module/MARC11.css")" rel="stylesheet" />

}
<!-- Begin Slider -->
<section class="product_poster_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Modules/MARC11/MARC11-lg.png")" alt="MARC11" title="MARC11" />
            </div>
            <div class="col-xl-7 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <h2>
                    MARC11
                    <br />Slick Capacitive Fingerprint Scanner
                </h2>
                <p>Model : MARC11 | OEM Module / Sensor : MOPvC11</p>
                <div class="product_action_box">
                    <a href="@Url.Content("~/Assets/Images/Modules/MARC11/MARC11-Module.pdf")" class="action_box" download>
                        <i class="maicon_brochure"></i>
                        <p>Brochure</p>
                    </a>
                    <a href="#specification_section" class="action_box specification_section_click">
                        <i class="maicon_spcification"></i>
                        <p>Spcification</p>
                    </a>
                    <a href="@Url.Content("/contact-us")" class="action_box">
                        <i class="maicon_inquiry"></i>
                        <p>Inquiry</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider -->
<!-- Begin Hardware Features -->
<section class="features_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Features</h2>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_dust_water_resistant"></i>
                    <p>IP65 Protection</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_lowest_far_frr"></i>
                    <p>Lowest FAR & FRR</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_latent_fingerprint"></i>
                    <p>Latent fingerprint detection</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_higher_platen_area"></i>
                    <p>Device form factor/dimension, slim, premium, look and feel</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_inbuilt_algorithm"></i>
                    <p>Device supports Inbuilt algorithm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_host_configuration"></i>
                    <p>Dynamic FPS based channel host configuration</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_usb_device"></i>
                    <p>Module supports USB support</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_ota_support_updates"></i>
                    <p>OTA support & updates</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hardware Features -->
<!-- Begin Hardware Features -->
<section class="specification_section" id="specification_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Specification</h2>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Sensor Characteristics</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Fingerprint Sensor Type</strong>
                    </p>
                    <p>: FAP10 Capacitive Sensor</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Pixel Resolution</strong>
                    </p>
                    <p>: 500 dpi +/- 2%</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Platen size</strong>
                    </p>
                    <p>: 12.8mm x 18mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Size</strong>
                    </p>
                    <p>: 256 x 360 Pixels</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Grayscale</strong>
                    </p>
                    <p>: 256 Gray Level (8 - Bit Image)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Maximum Acquisition time (Placement to Template)</strong>
                    </p>
                    <p>: < 2 Sec</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>FRR & FAR</strong>
                    </p>
                    <p>: < 0.1% & < 0.001%</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Module Approx. Dimension (L x W x H)</strong>
                    </p>
                    <p>: 35mm X 23mm X 5mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Device Approx. Dimension (L x W x H)</strong>
                    </p>
                    <p>: 58.1mm x 33.3mm x 11mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Approx. Weight</strong>
                    </p>
                    <p>: 0.040 Kg</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Capture mode</strong>
                    </p>
                    <p>: Auto Finger detection functionality & Auto capture with built-in quality check (Incorporates NIST quality considerations)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Latent Finger Detection</strong>
                    </p>
                    <p>: Supported</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>MTBF</strong>
                    </p>
                    <p>: 50000 Hours</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Wear & Tear cycle of sensor</strong>
                    </p>
                    <p>: 1 Million</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Cross Cut</strong>
                    </p>
                    <p>: 5B</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Surface Hardness</strong>
                    </p>
                    <p>: 7H</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>SALT Spray Test</strong>
                    </p>
                    <p>: IEC 60068-2-11/IS 9844/ASTM G 85</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Security</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Crypto operation</strong>
                    </p>
                    <p>: Hardware base RSA2048 Key Generation, AES-GCM-256, SHA-256, TRNG support</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Secure Memory</strong>
                    </p>
                    <p>: TEE support by the device. Secure memory support key wraping feature</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Secure Boot</strong>
                    </p>
                    <p>: Secure boot support by the device</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Interface</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Protocol</strong>
                    </p>
                    <p>: USB2.0</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Connector</strong>
                    </p>
                    <p>: USB Type-A Male</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Electrical</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating Voltage</strong>
                    </p>
                    <p>: +5.0V ±5%</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Current Consumptions</strong>
                    </p>
                    <p>: Operating Current: < 50 mA & Standby Current : < 30 mA</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Environmental</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating Temperature</strong>
                    </p>
                    <p>: -20°C to +70°C</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Storage Temperature</strong>
                    </p>
                    <p>: -20°C to +85°C</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Humidity (Operating / Storage)</strong>
                    </p>
                    <p>: < 90% RH, Non-condensing</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Compliant to Following Standard</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Biometric Data Interchange Format</strong>
                    </p>
                    <p>
                        : ISO 19794-2 : 2005 & 2011
                        <br />: ISO 19794-4 : 2005 & 2011, WSQ3.1
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>EMI / EMC Compliance</strong>
                    </p>
                    <p>: CE & FCC Part 15B class A</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>ESD protection</strong>
                    </p>
                    <p>: Contact Discharge: +/- 8kV, Air Discharge: +/- 15kV</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Environmental, Health and Safety</strong>
                    </p>
                    <p>: RoHS</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Safety</strong>
                    </p>
                    <p>: EN/IEC 62368-1, IS 13252 (Part 1)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Quality</strong>
                    </p>
                    <p>: FBI PIV Certification, Mobile-ID FAP10, STQC</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>IP Rating</strong>
                    </p>
                    <p>: IP54 (Device Level), IP67 (Platen Area)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Device Driver</strong>
                    </p>
                    <p>: WHQL certified driver</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>System Requirements</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating System</strong>
                    </p>
                    <p>: Android</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Standard Software/SDK</strong>
                    </p>
                    <p>: UIDIA L1 RD Service</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hardware Features -->
<!-- Begin Product Images -->
<section class="get_in_touch_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <h6>GET IN TOUCH</h6>
                <h2>Let’s talk! We have a perfect biometric solution for your industry.</h2>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <a href="@Url.Content("/contact-us")" class="getin_contact_us_btn">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
@section bottom_allpages{

}
