
@{
    ViewBag.Title = "MARC10";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>MARC10 Slick Capacitive Fingerprint Scanner | Mantra</title>
    <meta name="keywords" content="capacitive fingerprint scanner, capacitive fingerprint sensor" />
    <meta name="description" content="Check out High performing MARC10 Slick Capacitive Fingerprint Scanner which is secure, convenient and quick to setup. Visit Mantra today!" />
    <link rel="canonical" href="https://sensor.mantratec.com/Authentication-Scanner/Capactive-Fingerpint-Scanners-MARC10" />
    <meta property="og:title" content="MARC10 Slick Capacitive Fingerprint Scanner | Mantra" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://sensor.mantratec.com/Authentication-Scanner/Capactive-Fingerpint-Scanners-MARC10" />
    <meta property="og:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta property="og:site_name" content="Mantra" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="Check out High performing MARC10 Slick Capacitive Fingerprint Scanner which is secure, convenient and quick to setup. Visit Mantra today!" />
    <meta name="twitter:title" content="MARC10 Slick Capacitive Fingerprint Scanner | Mantra" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://sensor.mantratec.com/Authentication-Scanner/Capactive-Fingerpint-Scanners-MARC10" />
    <meta name="twitter:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta name="twitter:description" content="Check out High performing MARC10 Slick Capacitive Fingerprint Scanner which is secure, convenient and quick to setup. Visit Mantra today!" />
}

@section top_allpages{

    <link href="@Url.Content("~/Assets/css/product/MARC10.css")" rel="stylesheet" />

}
<!-- Begin Slider -->
<section class="product_poster_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MARC10/MARC10-lg.png")" alt="MARC10 Slick Capacitive Fingerprint Scanner" title="MARC10 Slick Capacitive Fingerprint Scanner" />
            </div>
            <div class="col-xl-7 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <h1>
                    <span>MARC10</span>
                    <sup class="fs-6">TM</sup>
                </h1>
                <p>Capacitive Fingerprint FAP10 Devices for Highly Secure</p>
                <div class="product_action_box">
                    <a href="@Url.Content("~/Assets/Images/Products/MARC10/MARC10.pdf")" class="action_box" download>
                        <i class="maicon_brochure"></i>
                        <p>Brochure</p>
                    </a>
                    <a href="#specification_section" class="action_box specification_section_click">
                        <i class="maicon_spcification"></i>
                        <p>Specification</p>
                    </a>
                    <a href="@Url.Content("/contact-us")" class="action_box">
                        <i class="maicon_inquiry"></i>
                        <p>Inquiry</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider -->
<!-- Begin Product Images -->
<section class="product_images_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MARC10/pro1.png")" alt="Mantra MARC10 Capacitive Fingerprint Scanner" title="Mantra MARC10 Capacitive Fingerprint Scanner" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MARC10/pro2.png")" alt="MARC10 Slick Capacitive Fingerprint" title="MARC10 Slick Capacitive Fingerprint" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MARC10/pro3.png")" alt="MARC10 Capacitive Fingerprint Scanner" title="MARC10 Capacitive Fingerprint Scanner" />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MARC10/pro4.png")" alt="MARC10 Slick Fingerprint Scanner" title="MARC10 Slick Fingerprint Scanner" />
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<!-- Begin Product Images -->
<section class="application_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>IDENTIFICATION & VERIFICATION APPLICATIONS</h2>
                <hr />
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_banking_and_atm"></i>
                    <p>Banking & Finance</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_enterprise"></i>
                    <p>Corporates</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_distribution_system"></i>
                    <p>Public Distribution System</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_payment"></i>
                    <p>Payment</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_institution"></i>
                    <p>Institution</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_merchant_payment"></i>
                    <p>Merchant Payment</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_government_applications"></i>
                    <p>Government Applications</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="application_box">
                    <i class="maicon_national_id_card"></i>
                    <p>ID verification</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<!-- Begin Morphs Compact Slap -->
<section class="optical_finger_scanner_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2>MARC10</h2>
                <h3>Slick Capacitive Fingerprint Scanner</h3>
                <div class="box_contain_part">
                    <p>The MARC10 capacitive fingerprint scanner/reader is a user-authentication and individual identification verification biometric sensor that is secure, convenient, and quick to setup. The capacitive biometric fingerprint offers higher accuracy and has been designed to be very compact. Our MARC10 capacitive fingerprint scanner is made to be reliable, precise, and simple to use. The most sophisticated capacitive fingerprint technology was used in its development, and it captures a person's fingerprint impression with excellent image quality.</p>
                </div>
                <div class="dual_iris_scanner_list">
                    <div class="dual_iris_scanner_box">
                        <h4>500 DPI +/- 2%</h4>
                        <p>Pixel Resolution</p>
                    </div>
                    <div class="dual_iris_scanner_box">
                        <h4>12.8mm x 18mm</h4>
                        <p>Platen Size</p>
                    </div>
                    <div class="dual_iris_scanner_box">
                        <h4>256 x 360 Pixels</h4>
                        <p>Image Size</p>
                    </div>
                    <div class="dual_iris_scanner_box">
                        <h4>
                            <2 sec
                        </h4>
                        <p>Capturing Speed</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MARC10/Slick-Capacitive-Fingerprint-Scanner.png")" alt="Mantra MARC10 Slick Capacitive Fingerprint Scanner" title="Mantra MARC10 Slick Capacitive Fingerprint Scanner" />
            </div>
        </div>
    </div>
</section>
<!-- End Morphs Compact Slap -->
<!-- Begin Hardware Features -->
<section class="features_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Features</h2>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_dust_water_resistant"></i>
                    <p>IP54 Protection</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_lowest_far_frr"></i>
                    <p>Lowest FAR & FRR</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_latent_fingerprint"></i>
                    <p>Latent fingerprint detection</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_higher_platen_area"></i>
                    <p>Device form factor/dimension, slim, premium, look and feel</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_inbuilt_algorithm"></i>
                    <p>Device supports Inbuilt algorithm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_host_configuration"></i>
                    <p>Dynamic FPS based channel host configuration</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_usb_device"></i>
                    <p>Module supports USB support</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_ota_support_updates"></i>
                    <p>OTA support & updates</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hardware Features -->
<!-- Begin Product Video -->
<section class="product_video_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MARC10/video-product.png")" alt="MARC10 Capacitive Scanner" title="MARC10 Capacitive Scanner" />
            </div>
        </div>
    </div>
</section>
<!-- End Product Video -->
<!-- Begin Product Hardware -->
<section class="high_performance_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12 text-center">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MARC10/high-performance.png")" alt="High performing Capacitive Fingerprint Scanner" title="High performing Capacitive Fingerprint Scanner" />
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <h2>HIGH-PERFORMING CAPACITIVE FINGERPRINT SCANNER</h2>
                <h3>Slick and Compact Device</h3>
                <div class="box_contain_part">
                    <p>MARC10 has been tested for quick and accurate fingerprint capturing applications, which makes this device a logical choice for various individual authentication as well as identification applications across multiple industries where slickness and compactness of the device play an important role in the application. Our biometric fingerprint sensor was indigenously designed for applications that need security, accuracy, and compactness.</p>
                </div>
                <div class="product_hardware_list">
                    <div class="product_hardware_box">
                        <h4>+5.0V ±5% (USB)</h4>
                        <p>Operating Voltage</p>
                    </div>
                    <div class="product_hardware_box">
                        <h4>58.1mm x 33.3mm x 12mm</h4>
                        <p>Dimension</p>
                    </div>
                    <div class="product_hardware_box">
                        <h4>0.040 Kg</h4>
                        <p>Weight</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Hardware -->
<!-- Begin System Requirements -->
<section class="system_requirements_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <h2>Sensor Hardware</h2>
                <div class="box_contain_part">
                    <p>This device features a FAP10 capacitive sensor with a 500 dpi pixel resolution and a platen size of 12.8mm x 18mm. It captures images at 256 x 360 pixels and has a maximum acquisition time of less than 2 seconds. The device has a low FRR & FAR of less than 0.1% & 0.001%, and supports latent finger detection. It has an MTBF of 50000 hours and a wear & tear cycle of 1 million. The module has dimensions of 35mm X 23mm X 5mm, and the device itself measures 58.1mm x 33.3mm x 12mm and weighs approximately 0.040 kg. The sensor also undergoes rigorous testing, including a SALT spray test, cross cut test, and surface hardness test.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="system_requirements_list">
                            <h3>Programming Language Support</h3>
                            <div class="system_requirements_box">
                                <i class="maicon_c"></i>
                                <p>C/C++</p>
                            </div>
                            <div class="system_requirements_box">
                                <i class="maicon_dot_net"></i>
                                <p>Dot Net </p>
                            </div>
                            <div class="system_requirements_box">
                                <i class="maicon_java"></i>
                                <p>Java</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="system_requirements_list">
                            <h3>Standard Software</h3>
                            <div class="system_requirements_box">
                                <i class="maicon_morfin_sdk"></i>
                                <p>SDK: Morfin_Authentication</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="system_requirements_img"> </div>
            </div>
        </div>
    </div>
</section>
<!-- End System Requirements -->
<!-- Begin Product Certification -->
<section class="product_certification_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12 text-center">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MELO31/Certification.jpg")" alt="Certification" title="Certification" />
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <h2>Certification</h2>
                <div class="box_contain_part">
                    <p>This device uses ISO 19794-2:2005 & 2011 and ANSI 378 for biometric data interchange. It is compliant with CE & FCC Part 15B class A for EMI/EMC and has ESD protection of +/- 8kV (contact discharge) and +/- 15kV (air discharge). The device is RoHS compliant and meets EN/IEC 62368-1 and IS 13252 safety standards. It has FBI PIV certification for image quality and Mobile-ID FAP10. The device has an IP54 rating at the device level and IP67 rating in the platen area, and its device driver is WHQL certified.</p>
                </div>
                <div class="certification_list">
                    <div class="certification_box">
                        <i class="maicon_fap10"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_ce"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_rohs"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_fcc"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_iec"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_whql"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_is"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_ip54"></i>
                    </div>
                    <div class="certification_box">
                        <i class="maicon_mosip_logo"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Certification -->
<!-- Begin Product sdk_usp -->
<section class="acquisition_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>High-Quality Fingerprint Acquisition</h2>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="acquisition_box">
                            <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MARC10/Acquisition-img1.jpg")" alt="Acquisition Image 1" title="Acquisition Image 1" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="acquisition_box">
                            <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MARC10/Acquisition-img2.jpg")" alt="Acquisition Image 2" title="Acquisition Image 2" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="acquisition_box">
                            <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MARC10/Acquisition-img3.jpg")" alt="Acquisition Image 3" title="Acquisition Image 3" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="acquisition_heand_box"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Product sdk_usp -->
<!-- Begin Product to Use & to Set-Up -->
<section class="easy_use_to_set_up_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <h2>Software Packages</h2>
                <div class="box_contain_part">
                    <p>Marc10 is easily connected to a computer with a USB connection, which allows the power supply and high-speed data transfer. The scanner can be easily integrated with applications of enrollment for identity management projects.</p>
                    <h3>2 Software Development Kit (SDK) options are available:</h3>
                    <p class="list_point">1:N Matching: MORFIN _SEARCH</p>
                    <p class="list_point">1:1 Matching: MORFIN_AUTH</p>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Products/MELO31/Easy-to-Use.jpg")" alt="Easy to Use" title="Easy to Use" />
            </div>
        </div>
    </div>
</section>
<!-- End Product to Use & to Set-Up -->
<!-- Begin Product Images -->
<section class="supported_operating_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <h2>Supported Operating Systems</h2>
                <div class="operating_systems_list">
                    <div class="operating_systems_box">
                        <i class="maicon_windows_operating_systems"></i>
                        <p>Windows 7/8/10</p>
                    </div>
                    <div class="operating_systems_box">
                        <i class="maicon_android_operating_system"></i>
                        <p>Android</p>
                    </div>
                    <div class="operating_systems_box">
                        <i class="maicon_linux_operating_systems"></i>
                        <p>Linux</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <div class="box_contain_part">
                    <p>Our capacitive fingerprint scanner is compatible with Windows x86 & x64, Linux, and Android operating systems.</p>
                    <p>
                        <strong>Image Formats:- </strong>Fully compliant with ISO 19794-2, ANSI 378 standards
                    </p>
                    <p class="list_point">ISO 19794-4:2011 with Uncompressed</p>
                    <p class="list_point">ISO 19794-4:2011with WSQ compressed</p>
                    <p class="list_point">ISO 19794-4:2011with JPEG2000 compressed</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->
<!-- Begin Hardware Features -->
<section class="specification_section" id="specification_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>SPECIFICATION</h2>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Sensor Characteristics</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Fingerprint Sensor Type</strong>
                    </p>
                    <p>FAP10 Capacitive Sensor</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Pixel Resolution</strong>
                    </p>
                    <p>500 dpi +/- 2%</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Platen size</strong>
                    </p>
                    <p>12.8mm x 18mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Size</strong>
                    </p>
                    <p>256 x 360 Pixels</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Grayscale</strong>
                    </p>
                    <p>256 Gray Level (8 - Bit Image)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Maximum Acquisition time (Placement to Template)</strong>
                    </p>
                    <p>< 2 Sec</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>FRR & FAR</strong>
                    </p>
                    <p>< 0.1% & < 0.001%</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Module Approx. Dimension (L x W x H)</strong>
                    </p>
                    <p>35mm X 23mm X 5mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Device Approx. Dimension (L x W x H)</strong>
                    </p>
                    <p>58.1mm x 33.3mm x 11mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Approx. Weight</strong>
                    </p>
                    <p>0.040 Kg</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Capture mode</strong>
                    </p>
                    <p>Auto Finger detection functionality & Auto capture with built-in quality check (Incorporates NIST quality considerations)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Latent Finger Detection</strong>
                    </p>
                    <p>Supported</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>MTBF</strong>
                    </p>
                    <p>50000 Hours</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Wear & Tear cycle of sensor</strong>
                    </p>
                    <p>1 Million</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Cross Cut</strong>
                    </p>
                    <p>5B</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Surface Hardness</strong>
                    </p>
                    <p>7H</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>SALT Spray Test</strong>
                    </p>
                    <p>IEC 60068-2-11/IS 9844/ASTM G 85</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Interface</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Protocol</strong>
                    </p>
                    <p>USB2.0 , SPI (Up to 24 Mbps)* , UART (Baud Rate- Default 9600, Up to 115200)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Connector</strong>
                    </p>
                    <p>Product: USB Type-A Male, Module: Wire to Board **</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Electrical</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating Voltage</strong>
                    </p>
                    <p>+5.0V ±5% (USB/UART Powered ) +3.3V±3% (Only for SPI Powered) </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Current Consumptions</strong>
                    </p>
                    <p>Operating Current: < 50 mA & Standby Current < 30 mA</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Environmental</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating Temperature</strong>
                    </p>
                    <p>-20°C to +70°C</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Storage Temperature</strong>
                    </p>
                    <p>-20°C to +85°C</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Humidity (Operating / Storage)</strong>
                    </p>
                    <p>< 90% RH, Non-condensing</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Compliant to Following Standard</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Biometric Data Interchange Format</strong>
                    </p>
                    <p>
                        ISO 19794-2 : 2005 & 2011 and ANSI 378
                        <br />ISO 19794-4 : 2005 & 2011, WSQ3.1
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>EMI / EMC Compliance</strong>
                    </p>
                    <p>CE & FCC Part 15B class A</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>ESD protection</strong>
                    </p>
                    <p>Contact Discharge: +/- 8kV, Air Discharge: +/- 15kV</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Environmental, Health and Safety</strong>
                    </p>
                    <p>RoHS</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Safety</strong>
                    </p>
                    <p>EN/IEC 62368-1, IS 13252 (Part 1)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Quality</strong>
                    </p>
                    <p>FBI PIV Certification, Mobile-ID FAP10</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>IP Rating</strong>
                    </p>
                    <p>IP54 (Device Level), IP67 (Platen Area)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Device Driver</strong>
                    </p>
                    <p>WHQL certified driver</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>System Requirements</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating System</strong>
                    </p>
                    <p>Windows x86 & x64, Android, Linux</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Standard Software/SDK</strong>
                    </p>
                    <p>
                        1:N Matching: MID Finger _Search,
                        <br />1:1 Matching: MID Finger_AUTH
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hardware Features -->
<!-- Begin Product Images -->
<section class="get_in_touch_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <h6>GET IN TOUCH</h6>
                <h2>Let’s talk! We have a perfect biometric solution for your industry.</h2>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <a href="@Url.Content("/contact-us")" class="getin_contact_us_btn">Contact Us</a> @*<a href="javascript:void(0)" class="getin_view_solution_btn">View Solution</a>*@
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->

@section bottom_allpages{



}






